<template>
  <article class="picker avatar-picker" @click="click" @dragover="drag($event)" @dragleave="leave" @drop="drop($event)">
    <h3>
      <i class="material-icons">photo_size_select_actual</i>
      <span>{{ info }}</span>
    </h3>
    <input type="file" name="avatar" ref=file @change="file_change">
  </article>
</template>

<script>
import PersonMethods from "./PersonMethods";

export default {
  name: 'avatar',
  data () {
    return {
      info: "Wybierz awatar",
      el_name: "awatar",
      extensions: ["jpg", "jpeg", "png"]
    };
  },
  methods: PersonMethods
}
</script>
