<template>
  <article class="picker back-picker" @click="click" @dragover="drag" @dragleave="leave" @drop="drop">
    <h3>
      <i class="material-icons">photo_size_select_actual</i>
      <span ref="info">{{ info }}</span>
    </h3>
    <input type="file" name="background" ref="file" @change="file_change">
  </article>
</template>

<script>
import PersonMethods from "./PersonMethods";

export default {
  name: 'background',
  data () {
    return {
      el_name: "tło",
      info: "Wybierz tło.",
      extensions: ["jpg", "gif", "jpeg", "png"]
    }
  },
  methods: PersonMethods
}
</script>
