<template>
  <article class="color-picker">
    <h3>Wybierz kolor tła</h3>
    <div class="color-wrapper">
      <div class="color-box" v-for="c in colors" :style="hex_to_obj(c)" :title="c" @click="change_active_color"></div>
    </div>
    <form @submit="add_color($event)">
      <input type="text" name="hexcolor" placeholder="#1de9b6" pattern="^[#][a-zA-Z0-9]{3,6}$" maxlength="7" required>
      <button type="submit"><i class="material-icons">add</i></button>
    </form>
  </article>
</template>

<script>
export default {
  name: 'Color',
  data () {
    return {
      colors: ["#EE8902", "#FFCA1C", "#005dab", "#9c27b0", "#455a64"],
      active: null,
    }
  },
  methods: {
    hex_to_obj(hex) {
      return {backgroundColor: hex};
    },
    add_color(event) {
      /**
      * Appends new color to colors collection.
      * @param { Object } event - JS submit event.
      */
      event.preventDefault();

      let color = new FormData(event.target).get("hexcolor");
      if (this.colors.indexOf(color) === -1) this.colors.push(color);
    },
    change_active_color(event) {
      /**
      * Changes active color on click.
      * @param { Object } event - JS click event.
      */
      this.active.classList.remove("active")
      event.target.classList.add("active");
      this.active = event.target;
    }
  },
  mounted() {
    let first_box = document.querySelector(".color-box");
    first_box.classList.add("active");
    this.active = first_box;
  }
}
</script>
