<template >
  <header>
    <hgroup>
      <h1>Witaj, {{ user.username }}.</h1>
      <h2>Konfigurujemy Twój profil</h2>
    </hgroup>
  </header>
</template>

<script>
export default {
  name: 'settings',
  computed: {
    user() {
      return this.$store.getters.user;
    }
  }
}
</script>
