<template>
  <main class="personalization-wrapper">
    <PersonHeader></PersonHeader>
    <component :is="actual_comp" @next="next_field"></component>
    <button class="skip-button" @click="next_field">Dalej</button>
  </main>
</template>

<script>
import PersonHeader from "./PersonHeader.vue"
import Background from "./Background.vue";
import Avatar from "./Avatar.vue";
import Color from "./Color.vue";

export default {
  name: 'personalization',
  data () {
    return {
      fields: ["background", "avatar", "color"],
      position: 0
    }
  },
  computed: {
    user: function() {
      return this.$store.getters.user;
    },
    actual_comp: function() {
      /**
      * Gets actual personalization component depently on user data (which one
      * are null).
      * @return { String } - name of actual personalization component.
      */
      let arr = this.fields.slice(this.position, this.fields.length);
      let result = arr.map(o => this.user[o] === null).indexOf(true);
      this.position = this.fields.indexOf(arr[result]);
      // console.log(this.fields);
      // console.log(result)
      if (this.position === -1) this.finish_personalization();

      return arr[result];
    }
  },
  methods: {
    next_field: function() {
      /**
      * Gets next personalization component or invokes function responsible for
      * finishing perosnalization process.
      */
      if (this.actual_comp === "color") this.update_color();

      this.position += 1;
      if (this.position === this.fields.length) this.finish_personalization();
    },
    finish_personalization() {
      /**
      * Finishes personalization process by setting local storage item and
      * redirecting to root path.
      */
      localStorage.setItem(this.user.username, true);
      this.$router.push("/");
    },
    update_color() {
      /**
      * Makes PUT request to update current user color field.
      */
      let form = new FormData();
      form.append("color", document.querySelector(".active").title);

      this.$store.dispatch("update_user", form);
    }
  },
  components: {
    'PersonHeader': PersonHeader,
    'background': Background,
    'avatar': Avatar,
    'color': Color
  },
  updated() {
    if (JSON.parse(localStorage.getItem(this.user.username))) {
      this.$router.push("/");
    }
  }
}
</script>
