<template>
  <div>
    <aside :style="info_style">
      <ul>
        <li v-if="profile.full_name.length > 0">
          <i class="material-icons">person_pin</i> {{ profile.full_name }}
        </li>
        <li :title="birthdate_title" v-if="!!profile.birthdate">
          <i class="material-icons">cake</i> {{ birthdate_text }}
        </li>
        <li>
          <i class="material-icons">remove_red_eye</i> {{ views_text }}
        </li>
        <li v-if="!!profile.city">
          <router-link :to="city_link">
            <i class="material-icons">location_on</i> {{ city_text }}
          </router-link>
        </li>
      </ul>
      <router-link :to="moments_link" v-if="!!user.friends.find(f => f.id == profile.id)">
        <button class="moments">Zobacz momenty</button>
      </router-link>
    </aside>

    <section class="list-component" ref="content">
      <header>
        <h2><i class="material-icons">people</i> Znajomi ({{ mutual_friends }})</h2>
      </header>
      <div class="list-content">
        <CockpitFriends :user="profile" filter=""></CockpitFriends>
      </div>
    </section>
  </div>
</template>

<script>
import CockpitFriends from "../cockpit/CockpitFriends.vue";
import { toggle_aside } from "./toggle_info";
import { get_proper_form } from "../moments/MomentMethods";

export default {
  name: "user_content",
  props: ["profile"],
  data() {
    return {
      sticky_profile_info: false
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    moments_link() {
      return {name: "Zobacz momenty", params: {id: this.profile.id}};
    },
    info_style() {
      return this.sticky_profile_info ? {position: "fixed", top: "2em"} : {};
    },
    birthdate_text() {
      const birthdate = new Date(this.profile.birthdate);
      const today = new Date();
      let age = Math.floor(((today - birthdate)/1000/60/60/24/365));
      let time = get_proper_form({single: "rok", plural: "lat", special: "lata"}, age);

      return age + " " + time;
    },
    birthdate_title() {
      const birth = new Date(this.profile.birthdate);
      const add_zero = x => String(x).length < 2 ? "0" + x : x;

      return `${add_zero(birth.getDate())}.${add_zero(birth.getMonth()+1)}.${birth.getFullYear()}`;
    },
    views_text() {
      let prop = {single: "wyświetlenie", plural: "wyświetleń", special: "wyświetlenia"}
      return this.profile.views + " " + get_proper_form(prop, this.profile.views);
    },
    city_text() {
      return `${this.profile.city.name}, ${this.profile.city.country}`;
    },
    city_link() {
      return {name:"Profil miejsca", params: {id: this.profile.city.id}};
    },
    mutual_friends() {
      let mutual = this.profile.friends.filter(f => {
          return !!this.user.friends.find(u => u.id == f.id);
      }).length;

      return mutual === 1 ? "1 wspólny" : mutual + " wspólnych";
    }
  },
  methods: { toggle_aside },
  mounted() {
    window.onscroll = this.toggle_aside;
    window.onresize = this.toggle_aside;
  },
  beforeDestroy() {
    window.onscroll = null;
    window.onresize = null;
  },
  components: {CockpitFriends}
}
</script>
