<template>
<div class="user-strip">
  <div class="user-info">
    <div class="avatar" :style="avatar_style"></div>
    <h2>@{{ profile.username}}</h2>
  </div>
  <button class="user-button cancel-friend" @click="delete_invitation('posted')" v-if="invitation_posted">
    <i class="material-icons">cancel</i> Anuluj zaproszenie
  </button>
  <div v-else-if="invitation_received">
    <button class="user-button add-friend" @click="accept_invitation" >
      <i class="material-icons">done</i> Zaakceptuj
    </button>
    <button class="user-button delete-friend" @click="delete_invitation('received')">
      <i class="material-icons">clear</i> Odrzuć
    </button>
  </div>
  <button class="user-button delete-friend" @click="remove_friend" v-else-if="friend">
    <i class="material-icons">delete</i> Usuń znajomego
  </button>
  <button class="user-button add-friend" @click="add_friend" v-else-if="user.id !== profile.id">
    <i class="material-icons">person_add</i> Dodaj znajomego
  </button>
</div>
</template>

<script>
export default {
  name: "user_strip",
  props: ["profile"],
  computed: {
    user() {
      return this.$store.getters.user;
    },
    invitations() {
      return this.$store.getters.invitations;
    },
    friend() {
      return !!this.user.friends.find(f => f.id === this.profile.id);
    },
    invitation_posted() {
      return !!this.invitations.posted.find(inv => inv.invites.id === this.profile.id);
    },
    invitation_received() {
      return !!this.invitations.received.find(inv => inv.sender.id === this.profile.id);
    },
    avatar_style() {
      return !!this.profile.avatar ? {backgroundImage: `url(${this.profile.avatar})`} : {};
    },
  },
  methods: {
    add_friend() {
      let form = new FormData();
      form.append('user_id', this.profile.id);

      this.$store.dispatch("send_invitation", form);
    },
    remove_friend() {
      let form = new FormData();
      form.append('friend_id', this.profile.id);

      this.$store.dispatch("remove_friend", form);
    },
    accept_invitation() {
      let invitation = this.invitations.received.find(inv => {
        return inv.sender.id === this.profile.id
      });

      this.$store.dispatch("accept_invitation", [invitation, null, "received"]);
    },
    delete_invitation(inv_type) {
      let user_key = inv_type == "posted" ? "invites" : "sender";

      let invitation = this.invitations[inv_type].find(inv => {
        return inv[user_key].id === this.profile.id
      });

      this.$store.dispatch("delete_invitation", [invitation, null, inv_type]);
    }
  }
}
</script>
