<template>
  <main class="personalization-wrapper" :style="wrapper_style">
    <header>
      <h1>{{ user_info }}</h1>
      <h2 v-if="!!moment && !!moment.city">
        <i class="material-icons">location_on</i> {{ city_info }}
      </h2>
    </header>
    <div class="new-moment-wrapper no-select" v-if="!!moment">
      <figure v-if="moment_type === 'image'">
        <img :src="moment.content" alt="Moment" @load="get_next_moment">
      </figure>
      <video :src="moment.content" @canplaythrough="can_play"
                                  @pause="video_paused"
                                  @ended="end_moment"
                                  @error="video_not_supported"
                                  v-if="moment_type === 'video'">
      </video>

      <div class="moment-progress-wrapper">
        <div class="progress" :style="moment_progress"></div>
      </div>
    </div>

  </main>
</template>

<script>
export default {
  name: "user_moment",
  data() {
    return {
      author: null,
      moment: null,
      has_next: null,
      progress: 0,
      interval: null
    }
  },
  computed: {
    user_info() {
      return !!this.author ? "@" + this.author.username : "Nic tu nie ma";
    },
    city_info() {
      return `${this.moment.city.name}, ${this.moment.city.country}`;
    },
    wrapper_style() {
      return !!this.author && !!this.author.color ? {backgroundColor: this.author.color} : {};
    },
    moment_type() {
      let ext = this.moment.content.split('.').pop().toLowerCase();
      const check_if_in = x => x.indexOf(ext) !== -1

      if (check_if_in(["jpg", "png", "jpeg"])) {
        return "image"
      }
      else if (check_if_in(["mp4", "webm", "3gp"])) {
        return "video"
      }
    },
    moment_progress() {
      return {width: (this.progress/(this.moment.duration * 1000) * 100) + "%"};
    }
  },
  methods: {
    get_user_moment() {
      let request = new Request(
        "/api/user_moments/" + this.$route.params.id,
        {
          method: "GET",
          credentials: "same-origin"
        }
      );

      fetch(request)
        .then(response => response.json())
        .then(data => {
          if (!data.author || !data.moment || Object.keys(data.moment).length == 0) {
            this.$router.push(sessionStorage.getItem('last_page'));
          }
          else {
            Object.keys(data).forEach(key => {
              this[key] = data[key];
            });
          }
        })
    },
    get_next_moment() {
      this.interval = setInterval(() => { this.progress += 50 }, 50);
      setTimeout(this.end_moment, this.moment.duration * 1000);
    },
    can_play(event) {
      event.target.play()
      this.interval = setInterval(() => { this.progress += 50 }, 50);
    },
    video_not_supported() {
      alert("Zainstaluj kodeki, by móc wyświetlać momenty typu wideo.");
      this.$router.push(sessionStorage.getItem('last_page'));
    },
    video_paused(event) {
      if (event.target.currentTime !== event.target.duration) event.target.play();
    },
    end_moment() {
      clearInterval(this.interval);
      this.progress = 0;
      this.moment.content = "";
      this.has_next ? this.get_user_moment() : this.$router.push(sessionStorage.getItem('last_page'));
    }
  },
  mounted() {
    this.get_user_moment();
  }
}
</script>
