<template>
  <div>
    <Navigation></Navigation>

    <main class="container user-container">
      <div class="user-back"  ref="user_back" :style="back_style"></div>
      <UserStrip :profile="profile"></UserStrip>
      <UserContent :profile="profile"></UserContent>
    </main>
  </div>
</template>

<script>
import Navigation from "../Navigation.vue";
import UserStrip from "./UserStrip.vue";
import UserContent from "./UserContent.vue";

export default {
  name: "UserProfile",
  data() {
    return {
      profile: {
        avatar: null,
        background: null,
        birthdate: null,
        city: null,
        color: null,
        email: null,
        first_name: null,
        full_name: "",
        friends: [],
        id: 0,
        last_name: null,
        username: null,
        views: 0
      }
    };
  },
  watch: {
    $route() {
      this.get_user_profile();
    }
  },
  computed: {
    back_style() {
      return !!this.profile.background ? {backgroundImage: `url(${this.profile.background})`} : {};
    },
  },
  methods: {
    get_user_profile() {
      let request = new Request(
        "/api/user/" + this.$route.params.id,
        {
          method: "GET",
          credentials: "same-origin"
        }
      );

      fetch(request)
        .then(response => {
          if (!response.ok) throw new Error(response.statusText);
          return response.json();
        })
        .then(data => {
          this.profile = data;
        })
        .catch(error => {
          switch(error.message) {
            case "NOT FOUND":
              this.$router.push(sessionStorage.getItem('last_page'));
              break;
          }
        })
    }
  },
  mounted() {
    this.get_user_profile();
  },
  components: {Navigation, UserStrip, UserContent}
}
</script>
