{% extends 'base.html' %}
{% block title %}Pokaż swoje momenty{% endblock %}
{% block content %}
<div class="back"></div>
<main class="wrapper">
  <header class="main-header">
    <h1><span>Your</span>Moments</h1>
    <h2><span class="slogan">Uchwyć swoje <strong>#moments</strong></span></h2>
  </header>
  <article class="form-wrappers">
    <form action="{{ url_for('.login') }}" class="auth-form auth-main" method="POST">
      {% for field in form %}
      {{ field(**form.renders.get(field.name, {})) }}
      {% endfor %}
      <button class="login-button">Zaloguj się</button>
      <a href="{{ url_for('auth.google_auth') }}">
        <button class="google-button" type="button">Zaloguj się z Google+</button>
      </a>
      <a href="{{ url_for('auth.twitter_auth') }}">
        <button class="twitter-button" type="button">Zaloguj się z Twitter</button>
      </a>
    </form>

    <header>
      <h1>Nie ma cię tutaj?</h1>
      <a href="{{ url_for('.register') }}">
        <button>
          <h2><span>ZAŁÓŻ KONTO</span></h2>
        </button>
      </a>
    </header>
  </article>
</main>

<script src="{{ url_for('static', filename='js/dist/bundle-auth.js') }}"></script>
{% endblock %}
