{% extends 'base.html' %}
{% block title %}Zaloguj się{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="back"></div>
<main class="wrapper">
  <header class="main-header">
    <h1><span>Your</span>Moments</h1>
    <h2><span class="slogan"><strong>ZALOGUJ SIĘ</strong></span></h2>
  </header>
  <article class="form-wrappers">
      <h2 style="text-align: center">Witaj ponownie</h2>
      <form class="auth-form auth-page" action="/login" method="POST">
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for m in messages %}
        <div class="error-block visible">
          <i class="material-icons">account_circle</i><span>{{ m }}</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% for field in form %}
        {{ field(**form.renders.get(field.name, {})) }}
        {% endfor %}
        <button class="login-button">Zaloguj się</button>
        <a href="{{ url_for('auth.google_auth') }}">
          <button class="google-button" type="button">Zaloguj się z Google+</button>
        </a>
        <a href="{{ url_for('auth.twitter_auth') }}">
          <button class="twitter-button" type="button">Zaloguj się z Twitter</button>
        </a>
        <a class="form-link" href="{{ url_for('auth.register') }}">Nie masz jeszcze konta? Zarejestruj się</a>
      </form>
    </article>
  </article>
</main>

<script src={{ url_for('static', filename='js/dist/bundle-auth.js') }}></script>
{% endblock %}
