{% extends 'base.html' %}
{% block title %}Zarejestruj się{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="back"></div>
<main class="wrapper">
  <div id="app"></div>
</main>

<script>
  sessionStorage.setItem('SITE_KEY', '{{ SITE_KEY }}');
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&libraries=places&language=pl" async defer></script>
<script src="{{ url_for('static', filename='js/dist/bundle-auth.js') }}"></script>
{% endblock %}
