<template>
<div class="option" @click="handle_click">
  <i class="material-icons">{{ icon }}</i> {{ text }}
</div>
</template>

<script>
export default {
  name: "info_localization_option",
  props: ["new_moment_data", "city", "checked"],
  computed: {
    icon() {
      return this.checked ? "check_box" : "check_box_outline_blank";
    },
    text() {
      if (this.checked && Object.keys(this.city).length > 0) {
        return this.city.localization;
      }
      else {
        return "Dołącz informacje o lokalizacji";
      }
    }
  },
  methods: {
    handle_click() {
      this.$emit('clicked');
    }
  }
}
</script>
