<template>
<div class="viewer" @click="toggle_viewer">
  <i class="material-icons">{{ icon }}</i> {{ name }}
</div>
</template>

<script>
export default {
  name: "viewer",
  props: ["friend", "viewers"],
  computed: {
    icon() {
      return this.viewers.indexOf(this.friend.id) !== -1 ? "check_box" : "check_box_outline_blank";
    },
    name() {
      if (!!this.friend.full_name && this.friend.full_name.split(" ").length > 0) {
        return this.friend.full_name;
      }
      else {
        return this.friend.username;
      }
    }
  },
  methods: {
    toggle_viewer() {
      this.$emit("clicked", this.friend.id);
    }
  }
}
</script>
