<template>
  <form @submit="close">
    <div class="paint-wrapper">
      <label for="line_thick">Grubość pędzla</label>
      <input type="number" name="line_thick" v-model="canvas_details.lineWidth" min="1">
    </div>
    <div class="paint-wrapper">
      <label for="select">Kolor pędzla</label>
      <select name="select" :style="select_style" v-model="canvas_details.strokeStyle">
        <option v-for="col in colors" :value="col" :style="option_style(col)">
          {{ col }}
        </option>
      </select>
    </div>
  </form>
</template>

<script>
export default {
  name: "brush_details",
  props: ["canvas_details", "colors"],
  computed: {
    select_style() {
      return {color: this.canvas_details.strokeStyle};
    },
  },
  methods: {
    option_style(color) {
      return {color: color};
    },
    close(event) {
      this.$emit('close', event);
    }
  }
}
</script>
