<template>
  <article class="paint-settings modal">
    <header>
      <h3><i class="material-icons">timer</i> Czas trwania</h3>
      <button @click="close"><i class="material-icons">clear</i></button>
    </header>
    <div class="modal-content">
      <form class="paint-wrapper" @submit="close">
        <label for="duration">Długość momentu (w sek.)</label>
        <input type="number" name="duration" min="1" :value="duration" @change="duration_changed">
      </form>
    </div>
  </article>
</template>

<script>
export default {
  name: "duration_modal",
  props: ["duration"],
  methods: {
    close(event) {
      if (event.type === "submit") event.preventDefault();
      if (this.duration >= 1) this.$emit('close');
    },
    duration_changed(event) {
      this.$emit('duration_changed', parseInt(event.target.value));
    }
  }
}
</script>
