<template>
  <article class="paint-settings modal">
    <header>
      <h3><i class="material-icons">blur_circular</i> Gumka</h3>
      <button @click="close"><i class="material-icons">clear</i></button>
    </header>
    <div class="modal-content">
      <form class="paint-wrapper" @submit="close">
        <label for="rubber_thick">Grubość gumki</label>
        <input type="number" name="rubber_thick" v-model="rubber_details.lineWidth">
      </form>
    </div>
  </article>
</template>

<script>
export default {
  name: "erase_modal",
  props: ["rubber_details"],
  methods: {
    close(event) {
      if (event.type === "submit") event.preventDefault()
      if (this.rubber_details.lineWidth >= 1) this.$emit('close');
    }
  }
}
</script>
