<template>
  <article class="paint-settings modal">
     <header>
       <h3><i class="material-icons">filter</i> Filtry</h3>
       <button @click="close"><i class="material-icons">clear</i></button>
     </header>
     <div class="modal-content">
       <FilterOption v-for="option in options" :key="option.name" :option="option" :filter_details="filter_details" @close="close">
       </FilterOption>
     </div>
   </article>
</template>

<script>
import FilterOption from "./FilterOption.vue";

export default {
  name: "filter_wrapper",
  props: ["filter_details"],
  data() {
    return {
      options: [
        {
          name: "blur",
          icon: "blur_on",
          min: 1,
          max: 100,
          text: "Rozmycie",
          unit: "px"
        },
        {
          name: "brightness",
          icon: "brightness_5",
          min: 1,
          max: 1000,
          text: "Jasność",
          unit: "%"
        },
        {
          name: "grayscale",
          icon: "filter_b_and_w",
          min: 1,
          max: 100,
          text: "Czerń i biel",
          unit: "%"
        },
        {
          name: "contrast",
          icon: "invert_colors",
          min: 1,
          max: 1000,
          text: "Kontrast",
          unit: "%"
        },
        {
          name: "invert",
          icon: "flip",
          min: 1,
          max: 100,
          text: "Negatyw",
          unit: "%"
        },
        {
          name: "hue-rotate",
          icon: "palette",
          min: 1,
          max: 360,
          text: "Barwienie",
          unit: "deg"
        },
        {
          name: "sepia",
          icon: "camera_roll",
          min: 1,
          max: 100,
          text: "Sepia",
          unit: "%"
        },
        {
          name: "saturate",
          icon: "tonality",
          min: 1,
          max: 1000,
          text: "Saturacja",
          unit: "%"
        }
      ]
    };
  },
  methods: {
    close() {
      this.$emit('close');
    }
  },
  components: { FilterOption }
}
</script>
