<template>
  <div class="filter-wrapper">
    <h4 @click="change_filter">
      <i class="material-icons">{{ option.icon }}</i> {{ option.text }}
    </h4>
    <div class="filter-option" v-if="filter_details.name === option.name">
      <div class="range-wrapper" :data-status="filter_details.value">
        <input type="range" :min="option.min" :max="option.max" v-model="filter_details.value">
      </div>
      <div class="filter-buttons">
        <button @click="preview_filter">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button @click="apply_filter" v-if="!filter_details.applied">
          <i class="material-icons">check_box</i>
        </button>
        <button @click="remove_filter" v-else>
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "filter_option",
  props: ["option", "filter_details"],
  methods: {
    change_filter() {
      this.remove_filter();

      ["unit", "name"].forEach(key => {
        this.filter_details[key] = this.option[key];
      });
      this.filter_details.value = 1;
    },
    apply_filter() {
      this.filter_details.preview = false;
      this.filter_details.applied = true;
      this.$emit('close');
    },
    preview_filter() {
      this.filter_details.preview = true;
      this.filter_details.applied = false;
      this.$emit('close');
    },
    remove_filter() {
      this.filter_details.applied = false;
    }
  }
}
</script>
