<template>
<article class="modals-wrapper" :style="wrapper_style">
  <PaintModal :canvas_details="canvas_details"
                       :colors="colors"
                      @close="close_modal"
                      @color_added="add_color"
                      v-if="active_modal=='brush'">
  </PaintModal>

  <DurationModal :duration="duration"
                          @close="close_modal"
                          @duration_changed="duration_changed"
                          v-else-if="active_modal=='timer'">
  </DurationModal>

  <EraseModal :rubber_details="rubber_details" @close="close_modal"
                                          v-else-if="active_modal=='blur_circular'">
  </EraseModal>

  <FilterModal :filter_details="filter_details"
                        @close="close_modal"
                        v-else-if="active_modal=='filter'">
  </FilterModal>
</article>
</template>

<script>
import PaintModal from "./PaintModal.vue";
import DurationModal from "./DurationModal.vue"
import EraseModal from "./EraseModal.vue";
import FilterModal from "./FilterModal.vue";

export default {
  name: "modals",
  props: ["canvas_details", "rubber_details", "filter_details", "active_modal", "duration"],
  data() {
    return {
      colors: ["#FFCA1C", "#9c27b0", "#005dab", "#FC9815", "#FC1B15", "#0FB74E"],
    }
  },
  computed: {
    wrapper_style() {
      return !this.active_modal ? {display: "none"} : {}
    }
  },
  methods: {
    close_modal() {
      this.$emit('close_modal');
    },
    add_color(color) {
      if (this.colors.indexOf(color) === -1) this.colors.push(color);
      this.canvas_details.strokeStyle = color;
    },
    duration_changed(value) {
      this.$emit('duration_changed', value);
    }
  },
  components: {PaintModal, DurationModal, EraseModal, FilterModal}
}
</script>
