<template>
  <form class="paint-wrapper" @submit="add_color">
    <label for="new_color">Dodaj kolor</label>
    <div class="add_color_wrapper">
      <input type="text" name="new_color" placeholder="np. #1de9b6"
                                          title="Kolor musi mieć format heksadecymalny"
                                          pattern="^[#][a-zA-Z0-9]{2,6}$"
                                          maxlength="7" required>
      <button id="add" type="submit">
        <i class="material-icons">add</i>
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: "new_color",
  methods: {
    add_color(event) {
      this.$emit('add_color', event);
    }
  }
}
</script>
