<template>
  <article class="paint-settings modal">
    <header>
      <h3><i class="material-icons">brush</i> Pędzel</h3>
      <button @click="close"><i class="material-icons">clear</i></button>
    </header>
    <div class="modal-content">
      <BrushDetails :canvas_details="canvas_details" :colors="colors" @close="close">
      </BrushDetails>
      <NewColor @add_color="add_color"></NewColor>
    </div>
  </article>
</template>

<script>
import BrushDetails from "./BrushDetails.vue";
import NewColor from "./NewColor.vue";

export default {
  name: "paint_modal",
  props: ["canvas_details", "colors"],
  methods: {
    add_color(event) {
      /**
      * Appends new color to colors collection.
      * @param { Object } event - JS submit event.
      */
      event.preventDefault();

      let color = new FormData(event.target).get("new_color");
      this.$emit('color_added', color);
      event.target.reset();
    },
    close(event) {
      if (event.type === "submit") event.preventDefault();
      if (this.canvas_details.lineWidth >= 1) this.$emit('close');
    }
  },
  components: { BrushDetails, NewColor }
}
</script>
