// Keyframes used for fading in background
@include keyframes(back-fade)
  0%
    opacity: 0
  100%
    opacity: 1

// Keyframes used for rotating loading image
@include keyframes(loading-rotate)
  0%
    transform: translateY(-50%) rotate(0deg)
  100%
    transform: translateY(-50%) rotate(360deg)

@media (max-width: 1000px)
  .auth-main
    margin: 30px 5% 0 10% !important
    width: 35% !important

  .auth-page
    margin: 0 27.5% !important
    width: 45% !important

@media (max-width: 780px)
  .form-wrappers
    .auth-main
      margin: 30px 10% !important
      width: 80% !important

    .auth-page
      margin: 0 10% !important
      width: 80% !important

    > header
      width: 80%
      margin: 35px 10% !important

      h1
        text-align: center
