.form-wrappers
  // Standard form buttons e.g. Sign in, Sign in with Twitter, Sign up etc.
  button
    width: 100%
    min-height: 20px
    line-height: 20px
    padding: .65em 0 .55em
    outline: none
    border: none
    font:
      family: Bebas Neue
      weight: normal
      size: 1.4em
    letter-spacing: .045em
    border-radius: .2em
    cursor: pointer
    color: white
    margin: 6px 0

  // Class for form on particular auth page e.g. on register page, on login page
  .auth-page
    margin: 0px 33%
    width: 33%

  // Class for form on main (index) page
  .auth-main
    margin: 30px 5% 0 20%
    width: 25%

  form
    float: left

    // Block that contains icon and text of error
    .error-block
      background-color: #005dab
      width: 100%
      text-align: center
      box-sizing: border-box
      border-radius: .1em
      font-size: 1.7em
      max-height: 0px
      margin-top: 0
      overflow: hidden
      cursor: pointer
      transition: background-color .4s, max-height 0.5s, padding 0.4s, margin-top 0.2s

      &:hover
        background-color: darken(#005dab, 7%)

      i
        font-size: 1.04em
        vertical-align: middle
        position: relative
        left: -8px

    // Class for error block class elements that makes it visible
    .error-block.visible
      padding: .4em 1em
      margin-top: 20px
      max-height: 500px

    // Class for div that works as a wrapper for field. Wrapper are necessary to
    // display icon if particular user attribute (username, email) is available
    .field-wrapper
      position: relative

      &:after
        display: block
        position: absolute
        top: 50%
        right: -40px
        text-shadow: 1px 1px rgba(0, 0, 0, .3)
        transform: translateY(-50%)
        font:
          family: Material Icons
          size: 1.8em

    // Class that holds an icon as pseudoelement which informs user that checking
    // availability of particular user attribute is in process
    .searching
      &:after
        content: "\e86a"
        @include animation(loading-rotate, 2s, 0s, infinite)

    // Class that holds an icon as pseudoelement which informs user that
    // particular user attribute is available
    .available
      &:after
        content: "\e876"

    // Class that holds an icon as pseudoelement which informs user that
    // particular user attribute is used
    .used
      &:after
        content: "\e002"

    input
      display: block
      width: 100%
      min-height: 40px
      background: white
      margin-top: 20px
      font:
        family: Bebas Neue
        weight: bolder
        size: 2.5em
      border: none
      outline: none
      padding: 10px
      border-radius: .05em
      box-sizing: border-box
      transition: box-shadow .4s

      @include placeholder
        font:
          family: Bebas Neue
          weight: bolder
          size: 1em
        transition: color .2s
        color: black

      &:focus
        box-shadow: 0 0 5px black

        @include placeholder
          color: rgba(0, 0, 0, .4)

    // Standard login button
    .login-button
      margin-top: 20px
      @include button-box(#005dab)

    // Login button for authorizing with Google+
    .google-button
      @include button-box(#F44336)

    // Login button for authorizing with Twitter
    .twitter-button
      @include button-box(#4099FF)

    // Google ReCAPTCHA block
    .g-recaptcha
      margin: 20px 0

  // Link that redirects to opposite page (e.g. link to login page on register
  // page)
  .form-link
    color: white
    text:
      decoration: none
      align: center
    letter-spacing: .1em
    display: block
    margin: 10px auto 25px
    text-shadow: 1px 1px 3px black
    font:
      size: 1.3em
      weight: bolder
    transition: text-shadow .2s

    &:hover
      text-shadow: 1px 1px 1px #005dab

  // Header element on index page that contains info about creating new account
  > header
    float: left
    margin: 50px 0
    background: #fcb134
    border-radius: .1em
    padding: 1em 1.5em 1.3em
    color: #005dab
    box-sizing: border-box

    h1
      font-size: 4em
      font-weight: lighter
      margin: 0 0 10px

    button
      background: none
      border: 4px solid #005dab
      color: #005dab
      transition: background .4s, color .4s

      h2
        font-weight: bolder
        font-size: 1.1em
        margin: 0

        span
          position: relative
          overflow: hidden

          &:after
            content: ""
            background-color: #005dab
            display: block
            width: 0%
            height: 10%
            position: absolute
            top: 90%
            left: 0
            transition: width 1s, background-color 1s

      &:hover
        background: transparentize(#005dab, .5)
        color: lighten(#fcb134, 8%)

        h2
          span
            &:after
              background-color: #fcb134
              width: 100%
