@import ../mixins

.auth-body
  padding: 0
  margin: 0
  min-height: 100%
  font-family: Bebas Neue

  .back, .error-section, .wrapper,
    min-height: 100%
    width: 100%
    top: 0

  .back
    position: fixed
    background:
      size: cover
      attachment: fixed
      position: center center
      repeat: no-repeat
    z-index: 1
    opacity: 0

  .back.visible
    @include animation(back-fade, 1s)

  .wrapper
    background: linear-gradient(to bottom, #FFCA1C, rgba(0, 0, 0, 0))
    z-index: 2
    color: white
    position: absolute

    .main-header
      h1
        text-align: center
        font-size: 4em
        margin: 20px auto 10px

        span
          font-weight: normal

      h2
        margin-top: 0px
        text-align: center
        font-size: 2.2em
        font-weight: lighter
        color: black

        .slogan
          background-color: white
          padding: .4em .5em
          mix-blend-mode: screen
          clip-path: polygon(0% 20%, 4% 0%, 100% 0%, 100% 80%, 96% 100%, 0% 100%)

    @import forms

@import animations
