<template>
  <article class="form-wrappers">
    <h2 style="text-align: center">Załóż nowe konto</h2>
    <form class="auth-form auth-page" id="register-form" @submit="create_user">
      <Email :errors="errors" :availability="availability"></Email>
      <Username :errors="errors" :availability="availability"></Username>
      <FirstName :errors="errors"></FirstName>
      <LastName :errors="errors"></LastName>
      <Birthdate :errors="errors"></Birthdate>
      <Localization :errors="errors"></Localization>
      <Password :errors="errors"></Password>
      <Captcha :errors="errors"></Captcha>

      <button class="login-button" type="submit">Zarejestruj się</button>
      <button class="google-button" type="reset">Wyczyść formularz</button>
      <a class="form-link" href="/login">Masz już konto? Zaloguj się</a>
    </form>
  </article>
</template>

<script>
import Email from "./fields/Email.vue";
import Username from "./fields/Username.vue";
import FirstName from "./fields/FirstName.vue";
import LastName from "./fields/LastName.vue";
import Birthdate from "./fields/Birthdate.vue";
import Localization from "./fields/Localization.vue";
import Password from "./fields/Password.vue";
import Captcha from "./fields/Captcha.vue";

export default {
  name: "article_form",
  data() {
    return {
      errors: {
        birthdate: null,
        email: null,
        username: null,
        first_name: null,
        last_name: null,
        birthdate: null,
        city: null,
        password: null,
        captcha: null
      },
      availability: {
        username: true,
        last_name: true
      }
    }
  },
  methods: {
    create_user(event) {
      event.preventDefault();

      let form = new FormData(event.target);
      form.set("recaptcha", grecaptcha.getResponse());

      this.validate_fields(form)

      if (Object.values(this.errors).filter(e => e !== null).length === 0) {
        let request = new Request(
          "/api/user",
          {
            method: "POST",
            body: form
          }
        );

        fetch(request)
          .then(response => response.json())
          .then((data) => {
            Object.keys(this.errors).forEach(key => {this.errors[key] = null});

            if (Object.keys(data).length > 1) {
              let url = window.location.href.slice(0, window.location.href.lastIndexOf("/") + 1);
              url += "login?created_user=true";
              window.location.href = url;
            }
            else {
              this.handle_error(data);
            }
          })
      }
    },
    validate_fields(form) {
      if (!form.get("recaptcha")) {
        this.errors.captcha = "Zaznacz poniższe pole."
      }
      else {
        this.errors.captcha = null
      }

      if (!form.get("city")) {
        this.errors.city = "Wybierz poprawną lokalizację."
      }

      if (form.get("password") !== form.get("password_repeat")) {
        this.errors.password = "Hasła nie są takie same."
      }
      else {
        this.errors.password = null;
      }
    },
    handle_error(data) {
      grecaptcha.reset();

      const error_map = new Map();
      let fields = ['recaptcha', 'email', 'username', 'first_name', 'last_name', 'city', 'password', 'birthdate']
      fields.forEach(f => error_map.set(f, new Map()));

      let recaptcha = error_map.get('recaptcha');
      recaptcha.set("ReCAPTCHA key isn't valid", "Kod ReCAPTCHA jest niepoprawny.")

      let username = error_map.get('username');
      username.set(
        'Username can contains only letters, digits, underscores and dotes.',
        'Nazwa użytkownika może zawierać tylko litery, cyfry, podkreślenia i kropki.'
      );
      username.set(
        "Username has to have minimum 4 and maximum 64 chars",
        "Nazwa użytkownika musi zawierać niemniej niż 4 i niewięcej niż 64 znaki."
      );
      username.set("Username isn't available", "Nazwa użytkownika jest już zajęta");

      let email = error_map.get('email');
      email.set("Email has to have maximum 64 chars", "Adres e-mail może mieć maksymalnie 64 znaki.");
      email.set("Email isn't correct.", "Adres e-mail jest niepoprawny.");
      email.set("Email isn't available.", "Adres e-mail jest już zajęty.");

      let first_name = error_map.get('first_name');
      first_name.set(
        'First name has to have minimum 2 and maximum 32 chars',
        'Imię musi zawierać niemniej niż niż 2 i niewięcej niż 22 znaki.'
      );
      first_name.set('First name contains only letters.', "Imię może zawierać tylko litery.");

      let last_name = error_map.get('last_name');
      last_name.set(
        'Last name has to have minimum 2 and maximum 32 chars',
        'Nazwisko musi zawierać niemniej niż niż 2 i niewięcej niż 22 znaki.'
      );
      last_name.set(
        'Last name contains only letters and white spaces.',
        'Nazwisko może zawierać tylko litery, pauzy i spacje.'
      );

      let birthdate = error_map.get('birthdate');
      birthdate.set(
        'Birthdate has to have format YYYY-MM-DD.',
        'Data urodzenia musi mieć format RRRR-MM-DD'
      );
      birthdate.set('Birthdate is invalid.', 'Data urodzenia jest niepoprawna');

      let city = error_map.get('city');
      city.set('Choose right localization.', 'Wybierz prawidłową lokalizację');
      city.set("City doesn't exist.", "Miasto nie istnieje.");

      let password = error_map.get('password');
      password.set('Password needs to be a string.', "Hasło musi być napisem.");
      password.set(
        'Password needs to have minimum 6 and maximum 32 chars.',
        'Hasło musi mieć niemniej niż 6 i niewięcej niż 32 znaki.'
      );
      password.set(
        'Password needs to have at least one small and big letter and one digit.',
        'Hasło musi mieć co najmniej jedną małą i dużą literę oraz cyfrę.'
      )

      let error = this.extract_register_error(data);

      try {
        this.errors[error.name] = error_map.get(error.name).get(error.text);
      }
      catch(err) {
        alert("Wystąpił problem, odśwież stronę lub spróbuj ponownie za chwilę.")
      }
    },
    extract_register_error(error) {
      let key = Object.keys(error)[0];

      if (typeof error[key] === "string") {
        return {name: key, text: error[key]}
      }
      else {
        return this.extract_register_error(error[key]);
      }
    }
  },
  components: { Email, Username, FirstName, LastName, Birthdate, Localization, Password, Captcha}
}
</script>
