<template>
  <header class="main-header">
    <h1><span>Your</span>Moments</h1>
    <h2><span class="slogan"><strong>ZAREJESTRUJ SIĘ</strong></span></h2>
  </header>
</template>

<script>
export default {name: "register_header"}
</script>
