<template>
  <div id="app">
    <RegisterHeader></RegisterHeader>
    <ArticleForm></ArticleForm>
  </div>
</template>

<script>
import RegisterHeader from "./components/RegisterHeader.vue";
import ArticleForm from "./components/ArticleForm.vue";

export default {
  name: 'App',
  components: { RegisterHeader, ArticleForm }
}
</script>
