<template>
  <div>
    <Navigation></Navigation>

    <main class="container user-container">
      <div class="city-back" :style="city_style">
        <h1>{{ city.name }}</h1>
      </div>

      <aside :style="info_style">
        <div id="google-map" ref="map"></div>
      </aside>

      <section class="list-component" ref="content">
        <header>
          <h2><i class="material-icons">filter</i> Powiązane momenty</h2>
        </header>
        <div class="list-content" ref="content">
          <div class="friends-list" style="justify-content: space-around">
            <MomentPreview :moment="m" v-for="m in this.city.moments" :key="m.id"></MomentPreview>
          </div>
        </div>
      </section>

      <section class="list-component">
        <header>
          <h2><i class="material-icons">people</i> Powiązani użytkownicy</h2>
        </header>
        <div class="list-content">
          <div class="friends-list">
            <CockpitUsers :data="city.users" filter=""></CockpitUsers>
          </div>
        </div>
      </section>
    </main>
    </div>
</template>

<script>
import Navigation from "../Navigation.vue";
import CockpitUsers from "../cockpit/CockpitUsers.vue";
import MomentPreview from "./MomentPreview.vue";
import { get_random_color } from "../cockpit/user_info";
import { toggle_aside } from "../user/toggle_info";
import { get_place_details } from "../../../maps/maps";

export default {
  name: "city",
  data() {
    return {
      city: {
        name: null,
        region: null,
        country: null,
        place_id: null,
        latitude: 0,
        longitude: 0,
        users: [],
        moments: []
      },
      city_style: {
        backgroundColor: null,
        backgroundImage: null
      },
      sticky_profile_info: false
    }
  },
  watch: {
    $route() {
      this.get_city_detail();
    }
  },
  computed: {
    info_style() {
      return this.sticky_profile_info ? {position: "fixed", top: "2em"} : {};
    },
  },
  methods: {
    get_city_detail() {
      let request = new Request(
        "/api/city/" + this.$route.params.id,
        {
          method: "GET",
          credentials: "same-origin"
        }
      );

      fetch(request)
        .then(response => {
          if (!response.ok) throw new Error(response.statusText);
          return response.json();
        })
        .then(data => {
          this.city = data;
          get_place_details(data.place_id, this.set_city_background.bind(this));
          this.display_city_map();
        })
        .catch(error => {
          switch(error.message) {
            case "NOT FOUND":
              this.$router.push(sessionStorage.getItem('last_page'));
              break;
          }
        })
    },
    display_city_map() {
      let map_prop = {
        center:new google.maps.LatLng(this.city.latitude, this.city.longitude),
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      new google.maps.Map(this.$refs.map, map_prop);
    },
    set_city_background(place, status) {
      /**
      * Callback function that sets city banner background. If city has photos,
      * background image will be set. Otherwise, random color will be generated
      * and applied.
      * @param { Object } place - Google Places API place object.
      * @param { String } status - status of request.
      */
      if (status === "OK" && !!place.photos) {
        let random = Math.floor(Math.random() * place.photos.length);
        let content = place.photos[random].getUrl({maxWidth: 700});
        let img = new Image();

        img.onload = () => {
          this.city_style.backgroundImage = `url(${content})`;
        }

        this.city_style.backgroundColor = `rgba(${get_random_color()}, .7)`
        img.src = content;
      }
      else {
        this.city_style.backgroundColor = `rgb(${get_random_color()})`;
      }
    },
    toggle_aside: toggle_aside
  },
  created() {
    this.get_city_detail();
  },
  mounted() {
    window.onscroll = this.toggle_aside;
    window.onresize = this.toggle_aside;
  },
  beforeDestroy() {
    window.onscroll = null;
    window.onresize = null;
  },
  components: { Navigation, MomentPreview, CockpitUsers }
}
</script>
