<template>
  <router-link :to="preview_link">
    <div class="moment-preview" :style="preview_style">
      <h2>@{{ moment.username }}</h2>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "moment_preview",
  props: ["moment"],
  computed: {
    preview_style() {
      return {backgroundColor: this.moment.color || "orange"}
    },
    preview_link() {
      return {name: "Zobacz momenty", params: {id: this.moment.id}};
    }
  }
}
</script>
