@import ../mixins

.home-body
  .container
    .avatar
      min-width: 60px
      height: 60px
      border-radius: 50px
      background:
        size: cover
        position: center center
        color: lighten(gray, 20%)

    .list-component
      header
        padding: .2em
        transition: background .7s
        color: lighten(#FFCA1C, 10%)
        cursor: pointer
        display: flex
        justify-content: space-between
        @include noselect

        &:hover
          background: lighten(#FFCA1C, 42%)

        h2
          font-size: 2em
          margin: .3em

          i
            font-size: 1em
            vertical-align: middle

        > i
          font-size: 3em
          vertical-align: bottom
          transform: translateY(10%)
          transition: transform .4s

      .list-content
        overflow: hidden
        transition: max-height .8s, opacity .5s

        a
          text-decoration: none
          color: black

        .user-data
          display: flex

          .user-info
            h3, h4
              margin: 0 .5em
              font-size: 1.7em

            h4
              font-weight: lighter

              i
                vertical-align: middle

        ul
          list-style-type: none
          padding-left: 1em

          .hidden
            opacity: 0
            max-height: 0px !important

          .invitation
            display: flex
            justify-content: space-between
            margin-bottom: 1.5em
            transition: max-height .8s, opacity .5s

            .buttons
              margin-top: .2em

              button
                background-color: #D7D7D7
                outline: none
                border: none
                padding: .3em
                margin: 0 .2em .2em
                color: white
                cursor: pointer
                border-radius: .2em
                transition: background-color .6s

                i
                  vertical-align: middle
                  font-size: 1em

              .accept
                &:hover
                  background-color: #17CD2D

              .reject
                &:hover
                  background-color: #EC0C00

        .friends-list
          display: flex
          padding: .5em
          flex-wrap: wrap
          width: 100%

          a
            width: 48%

            .moment-preview
              margin-bottom: .5em
              padding: .7em 1.8em
              box-sizing: border-box
              text-align: center
              border-radius: 5px
              color: white

          .friend
            cursor: pointer
            margin: .5em 0
            padding: .5em
            border-radius: .2em
            box-sizing: border-box
            display: block
            float: left
            width: 33%
            transition: background .5s

            &:hover
              background: lighten(gray, 40%)

        .cities
          display: flex
          padding: .5em
          flex-wrap: wrap

          .city
            width: 30%
            margin: .7em 1.5%
            background:
              size: cover
              position: center center
            padding: .3em
            box-sizing: border-box

            h3
              text-align: center
              color: white
              font-size: 2.4em
              text-shadow: 3px 3px black

    .list-hidden
      header
        > i
          transform: translateY(-10%) rotate(180deg) !important

      .list-content
        opacity: 0

@media (max-width: 550px)
  .container
    margin: 2em 5% !important

    .list-content
      .buttons
        margin-top: 0.4em !important

      .friend, .city, .moment-preview
        width: 100% !important
        margin: .7em 0 !important

@media (max-width: 900px)
  .container
    .friend, .city
      width: 48.5% !important
