@import ../mixins

.home-body
  margin: 0
  padding: 0

  header
    border-bottom: 2px solid lighten(gray, 45%)

    h1
      margin: .4em 0 .15em
      text-align: center
      font-size: 3.5em

      span
        font-weight: lighter

    nav
      ul
        padding: 0
        text-align: center

        li
          border-radius: .06em
          display: inline-block
          font:
            size: 1.9em
          text-align: center
          margin: 0 .2em
          padding: .2em .4em
          border: 1px solid transparent
          transition: border .4s
          box-sizing: border-box

          &:hover
            border-color: #FFCA1C

          a
            color: #FFCA1C
            text-decoration: none
            width: 100%
            display: block

  .no-moments
    text-align: center

    i
      font-size: 1em
      vertical-align: middle

    h1
      font-size: 3em
      margin-bottom: 0

    h2
      margin-top: .5em
      font:
        size: 2em
        weight: lighter

  .visible
    transform: translateY(0%) !important

  input[type=search]
    z-index: 2
    position: fixed
    top: 0%
    left: 0
    width: 100%
    outline: none
    border: none
    box-shadow: 1px 1px 5px black
    font-family: Bebas Neue
    font-size: 2.5em
    font-weight: bold
    padding: .2em .5em
    transform: translateY(-120%)
    transition: transform 0.5s

  .container
    margin: 2em 12.5%

    h1
      font-size: 3em
      text-align: center

      i
        font-size: 0.9em
        vertical-align: middle

    button
      border: none
      outline: none
      cursor: pointer
      font:
        family: Bebas Neue
        size: 1.8em
        weight: bold
      padding: .4em 1em
      border-radius: .1em
      transition: background-color .3s
      margin-bottom: 1.3em

    .fresh
      width: 100%
      background:
        image: linear-gradient(to right bottom, #EE8902, transparent), url(https://images.pexels.com/photos/36962/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb),
        position: center center
        size: cover
      padding: 1em
      border-radius: .3em
      box-sizing: border-box

      a
        text-decoration: none

      h2
        color: white
        font-size: 2.5em
        margin: .1em

        i
          vertical-align: middle
          font-size: .9em

      h3
        color: white
        font-weight: lighter
        margin: .2em 0 0

        font-size: 3em
        letter-spacing: .07em

      p
        margin: 0
        margin-bottom: .6em
        color: white
        font-weight: bolder
        font-size: 2em

      button
        background-color: white

        &:hover
          background-color: darken(white, 10%)

    .moment-wrapper
      margin: 1em 0
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      .moment
        float: left
        width: 31%
        min-height: 220px
        min-width: 280px
        color: white
        box-sizing: border-box
        background: url(https://instagram.fwaw3-1.fna.fbcdn.net/t51.2885-15/e35/15624013_1781458885454378_7884197389966245888_n.jpg), blueviolet
        background-blend-mode: multiply
        background-position: center center !important
        background-size: cover !important
        position: relative
        overflow: hidden
        text-align: center
        box-sizing: border-box
        margin-bottom: 1.5em
        @include noselect()

        &:hover
          .info-wrapper, .moment-control
            transform: translateY(-100%)

        .info-wrapper
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%
          transition: transform .7s
          border: none

          h2
            font-size: 2.3em
            margin: 40px 0 0
            text-shadow: 1px 1px black

          h3
            font-size: 2.8em
            font-weight: lighter
            margin-top: 0
            margin-bottom: .5em
            text-shadow: 1px 1px black

          h4
            font-size: 1.2em
            text-shadow: 1px 1px black

            i
              font-size: 0.8em
              vertical-align: middle
              margin: 0

        .moment-control
          position: absolute
          top: 100%
          height: 100%
          width: 100%
          transition: transform .7s

          .buttons
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -60%)
            display: flex
            justify-content: space-around

            i
              color: white
              font-size: 4em
              opacity: .85
              transition: transform .7s, opacity .7s
              position: relative

              &:hover
                transform: scale(1.2)
                opacity: 1

    .container-button
      background: #FFCA1C
      color: white
      display: block
      margin: .3em auto

      i
        vertical-align: middle

      &:hover
        background: darken(#FFCA1C, 10%)

  .add-moment-link
    position: fixed
    right: 3%
    bottom: 5%

    i
      color: white
      background: #FFCA1C
      border-radius: 50px
      padding: .4em
      font-size: 2em
      transition: background .5s

    &:before
      position: absolute
      top: 0
      left: -6.9em
      content: "Dodaj moment"
      display: block
      color: white
      font:
        size: 1.8em
      padding: .3em .8em .4em
      border-radius: .2em
      background: #FFCA1C
      visibility: hidden
      opacity: 0
      transition: visibility .4s, opacity .5s

    &:after
      position: absolute
      display: block
      top: .7em
      left: -1.8em
      content: ""
      width: 0
      height: 0
      border-top: 1em solid transparent
      border-left: 1em solid #FFCA1C
      border-bottom: 1em solid transparent
      visibility: hidden
      opacity: 0
      transition: visibility .4s, opacity .4s

    &:hover
      &:before, &:after
        opacity: 1
        visibility: visible
        transition: visibility 0s, opacity .4s

      i
        background: lighten(#FFCA1C, 20%)

@media (max-width: 550px)
  .fresh
    text-align: center

  li
    display: block !important
