.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.personalization-wrapper
  .options-wrapper
    width: 50%
    display: block
    margin: 0 auto

    .option
      color: black
      background: white
      padding: .5em
      font-weight: bold
      font-size: 2.2em
      margin-bottom: .5em

      .viewer
        margin-top: .5em
        cursor: pointer

  #send-moment
    display: block
    margin: auto
    background: none
    outline: none
    border: none
    font-family: Bebas Neue
    color: white
    border-radius: .05em
    font-size: 2em
    background: rgba(0, 0, 0, .3)
    padding: .2em .7em
    cursor: pointer

  .new-moment
    margin: .7em 0 .4em !important

  .camera-wrapper
    display: block
    width: 100%
    height: 65vh
    position: relative
    overflow: hidden
    cursor: pointer
    margin-bottom: 1em

    video
      background-color: rgba(0, 0, 0, .15)
      width: 100%
      height: 100%
      border-radius: .2em

    h3
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      text-align: center
      font:
        weight: normal
        family: Bebas Neue
        size: 3.5em
      margin: 0

      span
        position: relative

      &:before
        position: absolute
        top: 0
        left: 50%
        font-family: Material Icons
        font-size: 1.1em
        content: '\e403'
        opacity: 0
        transform: translateX(-50%)
        transition: opacity .5s, transform .5s

    &:hover
      h3
        &:before
          transform: translate(-50%, -100%)
          opacity: 1

  .custom-menu
    position: fixed
    bottom: 0
    width: 100%
    list-style-type: none
    text-align: center
    padding: 0
    color: white
    z-index: 100

    li
      display: inline-block !important
      margin: 0 .5em
      transform: translateY(150%)
      opacity: 0
      cursor: pointer
      transition: transform .5s, opacity .5s

      &:hover
        i
          &:before
            transform: scale(1.65)

      i
        font-size: 1.7em !important
        position: relative

        &:before
          content: ""
          position: absolute
          top: 0
          border-radius: 50px
          width: 100%
          height: 100%
          background-color: rgba(0, 0, 0, 0.3)
          z-index: -1
          transform: scale(0)
          transition: transform .5s

    .visible
      transform: none
      opacity: 1

  .new-moment-wrapper
    height: 70vh
    width: 100%
    margin: 0
    position: relative

    video
      display: block
      margin: 0 auto
      max-width: 95%
      max-height: 100%

    figure
      width: 100%
      height: 100%
      margin: 0

      img
        display: block
        margin: 0 auto
        max-width: 95%
        max-height: 100%

    canvas
      position: absolute
      top: 0
      cursor: crosshair

  .filter-photo
    position: absolute
    top: 0
    background-size: cover
    cursor: ew-resize

  .modals-wrapper
    background: rgba(0, 0, 0, .7)
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 101

    .modal
      width: 50vw
      position: absolute
      top: 5vh
      left: 25vw
      color: black

      header
        border-radius: .1em
        background: white
        padding: .7em 1em
        display: flex
        justify-content: space-between

        h3
          font-size: 2.5em
          margin: 0

          i
            font-size: .6em

      .modal-content
        max-height: 50vh
        border-radius: .1em
        padding: .7em .8em
        background: white
        overflow-y: auto
        margin: .6em 0
        font-size: 1.8em

        button
          cursor: pointer

        .paint-wrapper, .filter-wrapper
          display: flex
          justify-content: space-between
          margin-top: .2em

          h4
            margin: 0
            font-weight: normal

        .add_color_wrapper
          display: flex

          input
            max-width: 4em

          button
            margin-left: 1em
            background: none

        .filter-wrapper
          flex-direction: column
          transition: background .5s
          padding: .15em .25em
          cursor: pointer

          &:hover
            background-color: #EAEAEA

          .filter-option
            display: flex
            justify-content: space-between
            align-items: center

          .filter-buttons
            button
              padding: 0
              background: none

              i
                font-size: 2.2em
                opacity: .6
                transition: opacity .6s

              &:hover
                i
                  opacity: 1

        .paint-wrapper
          input
            font-family: Bebas Neue
            font-weight: bold
            font-size: 1em
            border: none
            background: none
            outline: none
            text-align: right

          select
            font-family: Bebas Neue
            font-weight: bold
            font-size: 1em
            border: none
            background: none
            outline: none
            position: relative

        .range-wrapper
          position: relative

          &:after
            content: attr(data-status)
            font-family: Bebas Neue
            font-weight: bold
            position: absolute
            top: 0
            right: -25%

      button
        border: none
        outline: none
        font-family: Bebas Neue
        font-weight: bold
        border-radius: 50%
        background: white
        cursor: pointer

        i
          vertical-align: middle

  .moment-progress-wrapper
    background-color: rgba(255, 255, 255, .5)
    border-radius: 10px
    height: 5px
    width: 70%
    position: fixed
    bottom: 2%
    left: 15%
    overflow: hidden

    .progress
      background-color: white
      height: 100%
      width: 0%
      border-radius: 10px

.catch i
  position: relative
  top: .05em
  font-size: .8em
  transition: opacity .5s

  &:hover
    i
      opacity: .4

#catch-canvas
  display: none

@media(max-width: 900px)
  .modal
    width: 90vw !important
    left: 5vw !important

  .options-wrapper
    width: 90% !important
