.personalization-wrapper
  min-height: 100vh
  min-width: 100vw
  background-color: lighten(#005dab, 10%)
  color: white
  overflow-x: hidden
  overflow-y: auto

  header
    border-bottom: none

    h1
      font-size: 3em
      text-align: center
      margin-bottom: .2em

    h2
      font:
        size: 2em
        weight: lighter
      text-align: center
      margin-top: 0

  .color-picker
    margin: 3em
    position: relative

    h3
      font-size: 1.8em
      text-align: center
      margin-bottom: .5em

    .color-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap

      .color-box
        display: inline-block
        width: 3em
        height: 3em
        margin: .5em
        text-align: center
        background-color: red
        box-sizing: border-box
        border: 2px dashed transparent
        transition: border-color .4s
        cursor: pointer

        &:hover
          border-color: white

      .active
        border-color: white

    form
      margin: .8em
      text-align: center
      
      input, button
        outline: none
        border: none

      input
        width: 3em
        font:
          family: Bebas Neue
          size: 1.5em
          weight: bold
        padding: .4em
        border-radius: .1em
        display: inline-block
        margin: .3em

      button
        vertical-align: middle
        outline: none
        border: none
        background: darken(#005dab, 15%)
        border-radius: 100%
        padding: .4em .4em .2em
        color: white
        margin-left: .3em
        cursor: pointer


  .back-picker
    width: 60%
    margin: 2em 20%
    height: 50vh

  .avatar-picker
    width: 15em
    height: 15em
    border-radius: 50%
    display: block
    margin: 3em auto

    h3
      top: 35% !important

  .picker
    border: 3px dashed white
    position: relative
    cursor: pointer

    h3
      position: absolute
      top: 30%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 1.8em
      width: 100%
      text-align: center
      i
        vertical-align: middle

  .skip-button
    display: block
    margin: 0 auto
    border: none
    outline: none
    cursor: pointer
    background: white
    border-radius: .1em
    mix-blend-mode: screen
    padding: .3em .7em .2em

    font:
      size: 1.6em
      family: Bebas Neue
      weight: bolder

  input[type=file]
    display: none

@media (max-width: 600px)
  .back-picker
    width: 80% !important
    margin: 2em 10% !important
