.user-container
  position: relative
  margin: 2em 5% !important

  form
    .user-back, .avatar
      cursor: pointer

  .user-back, .city-back
    height: 15em
    width: 100%
    position: relative
    background:
      color: #FFCA1C
      size: cover
      position: center center

    h1
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -60%)
      text-align: center
      color: white
      font-size: 5em
      margin: 0
      text-shadow: .05em .05em black

  .city-back
    height: 20em
    background-blend-mode: multiply
    margin-bottom: 2em
    transition: background-color 1.5s
    background-color: transparent

  input
    display: block
    width: 100%
    min-height: 40px
    background: white
    font:
      family: Bebas Neue
      weight: bolder
      size: 2.5em
    border: none
    outline: none
    padding: 10px
    border-radius: .05em
    box-sizing: border-box
    transition: box-shadow .4s

    @include placeholder
      font:
        family: Bebas Neue
        weight: bolder
        size: 1em
      transition: color .2s
      color: black

    &:focus
      box-shadow: 0 0 5px black

      @include placeholder
        color: rgba(0, 0, 0, .4)

  .used
    &:focus
      box-shadow: 0 0 5px darken(red, 15%)

  input[type=file]
    display: none

  .user-strip
    padding: 1.5em
    margin-bottom: 2em
    background-color: rgba(0,0, 0, .03)
    display: flex
    justify-content: space-between
    align-items: center

    .user-info
      display: flex
      align-items: center

      h2
        font-size: 2.2em
        margin: 0 .2em

    .user-button
      border: none
      color: white
      border-radius: 4px
      padding: 8px 15px
      font-family: Bebas Neue
      font-weight: bold
      font-size: 1.6em
      margin: 0
      outline: none
      cursor: pointer

      i
        vertical-align: middle

    .file-del
      background: #FF815C

    .add-friend
      background: #4EBD9B

    .delete-friend
      background: lighten(#A71B1b, 20%)

    .cancel-friend
      background: #FFCA1C

  aside
    background-color: rgba(0,0, 0, .03)
    float: left
    width: 30%
    padding: 15px
    box-sizing: border-box

    input
      margin: .3em 0

    #google-map
      width: 100%
      height: 40vh
      margin: 0

    ul
      list-style-type: none
      padding: 0
      margin: 0

      li
        font:
          size: 1.8em
          weight: normal
        margin: 5px 0
        word-spacing: 2px

        i
          opacity: .7

    a
      text-decoration: none
      color: black

    button
      font-weight: normal !important
      background: none
      width: 95%
      margin: .4em auto !important
      display: block
      border: 1px solid black !important

    .moments
      color: darken(#FFCA1C, 10%)
      border-color: darken(#FFCA1C, 10%) !important

  .list-component
    float: right
    width: 65%
    margin-left: 5%

    header
      cursor: default !important

      h2
        color: black

      &:hover
        background-color: inherit !important

    .friend
      width: 50% !important

    .pass-form
      h3
        font:
          size: 1.4em
          weight: bold
        text-align: center

      input
        background-color: lighten(gray, 37%)
        margin: .5em auto
        width: 95%
        font-weight: lighter

      button
        display: block
        margin: 0 auto

@media (max-width: 700px)
  .user-container
    aside
      width: 100%

    .list-component
      width: 100%
      margin-left: 0
      margin-top: .5em

      .friend
        width: 100% !important

@media (max-width: 500px)
  .user-container
    .user-strip
      flex-direction: column

      .user-info
        justify-content: center

      button
        margin-top: .4em !important
