<template>
  <article>
    <header>
      <h1 class="new-moment">Dodaj swój moment</h1>
    </header>
    <div class="camera-wrapper" @click="click" @dragover="drag($event)" @dragleave="leave" @drop="drop($event)">
      <video ref="video"></video>
      <h3>{{ info }}</h3>
    </div>

    <input type="file" ref="file" @change="file_change" accept="video/mp4, video/webm, video/3gp, image/png, image/jpg, image/jpeg">

    <button class="skip-button catch" @click="catch_photo" v-if="camera_installed">
      <i class="material-icons">camera</i> Przechwyć
    </button>
  </article>
</template>

<script>
import PersonMethods from "../personalization/PersonMethods";

export default {
  name: 'new_moment_add',
  props: ["new_moment_data"],
  data () {
    return {
      info: "Wybierz zdjęcie lub film",
      extensions: ["jpg", "jpeg", "png", "webm", "mp4"],
      camera_installed: false
    }
  },
  methods: {
    drop: PersonMethods.drop,
    click: PersonMethods.click,
    file_change: PersonMethods.file_change,
    check_extension: PersonMethods.check_extension,
    drag(event) {
      /**
      * Handles drag event action by setting proper text.
      * @param { Object } event - JS drag event object.
      */
      event.preventDefault();
      this.info = "Upuść zdjęcie lub film";
    },
    leave() {
      /**
      * Handles drag leave event action by setting proper text.
      */
      this.info = "Wybierz zdjęcie lub film";
    },
    update_el(file) {
      this.info = "Przetwarzanie...";
      file.type.startsWith("video") ? this.validate_video(file) : this.validate_image(file);
    },
    validate_video(video_clip) {
      let video = document.createElement('video');
      video.preload = "metadata";

      video.onloadedmetadata = () => {
        if (video.duration <= 10) {
          this.new_moment_data.append("content", video_clip);
          this.$emit('change_comp', 'moment_info');
        }
        else {
          this.info = "Film może mieć maksymalnie 10 sekund";
          setTimeout(this.leave, 5000);
        }
      }

      video.onerror = (err) => {
        this.info = "Film jest uszkodzony";
        setTimeout(this.leave, 5000);
      }

      video.src = URL.createObjectURL(video_clip);
    },
    validate_image(image_file) {
      let canvas = document.createElement('canvas');
      let img = new Image();

      img.onload = () => {
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;

        canvas.getContext('2d').drawImage(img, 0, 0);
        this.new_moment_data.append("content", canvas.toDataURL());
        this.$emit('change_comp', 'moment_customize');
      }

      img.onerror = () => {
        this.info = "Zdjęcie jest uszkodzone";
        setTimeout(this.leave, 5000);
      }

      img.src = URL.createObjectURL(image_file);
    },
    catch_photo() {
      let video = this.$refs.video;

      let canvas = document.createElement('canvas');
      canvas.height = video.videoHeight;
      canvas.width = video.videoWidth;

      canvas.getContext('2d').drawImage(video, 0, 0);
      this.new_moment_data.append("content", canvas.toDataURL());
      this.$emit('change_comp', 'moment_customize');
    }
  },
  mounted() {
    if (navigator.mediaDevices === undefined) {
      navigator.mediaDevices = {};
    }

    if (navigator.mediaDevices.getUserMedia === undefined) {
      navigator.mediaDevices.getUserMedia = (constraints) => {
        let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

        if (!getUserMedia) {
          return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
        }

        return new Promise(function(resolve, reject) {
          getUserMedia.call(navigator, constraints, resolve, reject);
        });
      }
    }

    navigator.mediaDevices.getUserMedia({video: true})
      .then((stream) => {
        let video = this.$refs.video;
        video.srcObject = stream;

        video.onloadedmetadata = () => {
          video.play();
          this.camera_installed = true;
        }
      })
      .catch((error) => {});
  }
}
</script>
