<template>
  <div class="new-moment-wrapper no-select" ref="wrapper">
    <figure>
      <img :src="new_moment_data.get('content')" alt="Moment" ref="img" @mousemove="filter_move" :style="image_style" @load="set_workspace">
    </figure>
    <div class="filter-photo" ref="filter_photo" @mousemove="filter_move" @touchmove="filter_touch_move" v-if="filter_details.preview">
    </div>

     <canvas width="500" height="500" :style="canvas_style" ref="canvas"
                                          @mousedown="start_mouse_move"
                                          @mousemove="mouse_move"
                                          @mouseup="end_mouse_move"
                                          @mouseout="end_mouse_move"
                                          @touchstart="start_touch_move"
                                          @touchmove="touch_move"
                                          @touchend="end_touch_move">
     </canvas>
  </div>
</template>

<script>
export default {
  name: "new_moment_wrapper",
  props: [
    "new_moment_data",
    "canvas_details",
    "filter_details",
    "rubber_details",
    "mode",
    "clear_canvas",
    "prepare"
  ],
  data() {
    return {
      painting_mode: false,
      multi_x: 0,
      multi_y: 0,
      previous_move: {}
    }
  },
  computed: {
    photo_filter() {
      return `${this.filter_details.name}(${this.filter_details.value}${this.filter_details.unit})`;
    },
    image_style() {
      if (this.filter_details.applied && !this.filter_details.preview) {
        return {filter: this.photo_filter, webkitFilter: this.photo_filter};
      }
      else if (this.filter_details.preview) {
        return {cursor: "ew-resize"};
      }
      return {};
    },
    canvas_style(){
      return {zIndex: this.filter_details.preview ? -1 : "inherit"};
    }
  },
  watch: {
    clear_canvas(value) {
      let context = this.$refs.canvas.getContext('2d');
      context.clearRect(0, 0, this.$refs.canvas.width, this.$refs.canvas.height);

      this.filter_details.name = "";
      this.filter_details.preview = false;
      this.filter_details.applied = false;
    },
    prepare(value) {
      let canvas = document.createElement('canvas');
      let context = canvas.getContext('2d');

      let img = this.$refs.img;

      canvas.width = img.naturalWidth;
      canvas.height = img.naturalHeight;
      context.filter = this.photo_filter;

      let painted = new Image();

      painted.onload = () => {
        context.drawImage(img, 0, 0, img.naturalWidth, img.naturalHeight);
        context.filter = 'none';
        context.drawImage(painted, 0, 0, img.naturalWidth, img.naturalHeight);
        this.$emit('end_preparing', canvas.toDataURL())
      }

      painted.src = this.$refs.canvas.toDataURL();
    }
  },
  methods: {
    set_canvas_context(details) {
      let context = this.$refs.canvas.getContext('2d');

      Object.keys(details).forEach(key => {
        context[key] = details[key];
      });
    },
    start_mouse_move(event) {
      let canvas = this.$refs.canvas;
      this.multi_x = canvas.width / parseInt(canvas.style.width);
      this.multi_y = canvas.height / parseInt(canvas.style.height);

      this.mode === "painting" ? this.draw_start_mouse(event) : this.erase_start(event);
      this.painting_mode = true;
    },
    draw_start_mouse(event) {
      this.set_canvas_context(this.canvas_details);

      this.previous_move = {
        x: (event.layerX)*this.multi_x,
        y: (event.layerY)*this.multi_y
      };
    },
    erase_start(event) {
      this.set_canvas_context(this.rubber_details);
    },
    mouse_move(event) {
      if (this.painting_mode) {
        this.mode === "painting" ? this.draw_move_mouse(event) : this.erase_move_mouse(event);
      }
    },
    draw_move_mouse(event) {
      let context = this.$refs.canvas.getContext("2d");
      let new_move = {
        x: (event.layerX)*this.multi_x,
        y: (event.layerY)*this.multi_y
      };

      context.beginPath();
      context.moveTo(this.previous_move.x, this.previous_move.y);
      context.lineTo(new_move.x, new_move.y);
      context.stroke()
      context.closePath();

      this.previous_move = new_move;
    },
    erase_move_mouse(event) {
      let context = this.$refs.canvas.getContext('2d');
      let move = {
        x: event.layerX*this.multi_x,
        y: event.layerY*this.multi_y
      }

      context.clearRect(move.x, move.y, context.lineWidth, context.lineWidth);
    },
    end_mouse_move() {
      this.painting_mode = false;
    },
    start_touch_move(event) {
      let canvas = this.$refs.canvas;
      this.multi_x = canvas.width / parseInt(canvas.style.width);
      this.multi_y = canvas.height / parseInt(canvas.style.height);

      this.mode === "painting" ? this.draw_start_touch(event) : this.erase_start(event);

      this.painting_mode = true;

      return false;
    },
    draw_start_touch(event) {
      this.set_canvas_context(this.canvas_details);

      this.previous_move = {
        x: (event.touches[0].clientX-parseInt(this.$refs.canvas.style.left))*this.multi_x,
        y: (event.touches[0].clientY-this.$refs.wrapper.offsetTop)*this.multi_y
      };
    },
    touch_move(event) {
      event.preventDefault();

      if (this.painting_mode) {
        this.mode === "painting" ? this.draw_move_touch(event) : this.erase_move_touch(event);
      }

      return false;
    },
    draw_move_touch(event) {
      let canvas = this.$refs.canvas;
      let context = canvas.getContext("2d");

      let new_move = {
        x: (event.touches[0].clientX-parseInt(canvas.style.left))*this.multi_x,
        y: (event.touches[0].clientY-this.$refs.wrapper.offsetTop)*this.multi_y
      };

      context.beginPath();
      context.moveTo(this.previous_move.x, this.previous_move.y);
      context.lineTo(new_move.x, new_move.y);
      context.stroke()
      context.closePath();

      this.previous_move = new_move;
    },
    erase_move_touch(event) {
      let canvas = this.$refs.canvas;
      let context = canvas.getContext("2d");
      
      let move = {
        x: (event.touches[0].clientX-parseInt(canvas.style.left))*this.multi_x,
        y: (event.touches[0].clientY-this.$refs.wrapper.offsetTop)*this.multi_y
      };

      context.clearRect(move.x, move.y, context.lineWidth, context.lineWidth);
    },
    end_touch_move(event) {
      event.preventDefault();
      this.painting_mode = false;

      return false;
    },
    filter_move(event) {
      let width = event.screenX - parseInt(this.$refs.filter_photo.style.left);
      this.$refs.filter_photo.style.width = width + "px";
    },
    filter_touch_move(event) {
      let width = event.touches[0].screenX - parseInt(this.$refs.filter_photo.style.left);
      this.$refs.filter_photo.style.width = width + "px";
    },
    set_workspace() {
      let img = this.$refs.img;
      let canvas = this.$refs.canvas;

      canvas.style.left = ((window.innerWidth - img.offsetWidth) / 2)  + "px";
      canvas.style.width = img.offsetWidth + "px";
      canvas.style.height = img.offsetHeight + "px";
      canvas.width = img.naturalWidth;
      canvas.height = img.naturalHeight;
    },
    resize_workspace: function() {
      let img = this.$refs.img;
      let canvas = this.$refs.canvas;

      canvas.style.left = ((window.innerWidth - img.offsetWidth) / 2) + "px";
      canvas.style.width = img.offsetWidth - Number(window.innerWidth - img.offsetWidth)/1000 + "px";
      canvas.style.height = img.offsetHeight + "px";

      if (this.filter_details.preview) {
        let filter_photo = this.$refs.filter_photo;

        filter_photo.style.left = ((window.innerWidth - img.offsetWidth) / 2) + "px";
        filter_photo.style.height = img.offsetHeight + "px";
        filter_photo.style.maxWidth = img.offsetWidth + "px";
      }
    }
  },
  mounted() {
    window.onresize = this.resize_workspace;
  },
  updated() {
    if (this.filter_details.preview) {
      let filter_photo = this.$refs.filter_photo;
      let img = this.$refs.img;

      filter_photo.style.left = ((window.innerWidth - img.offsetWidth) / 2) + "px";
      filter_photo.style.height = img.offsetHeight + "px";
      filter_photo.style.width = (img.offsetWidth / 2) + "px"
      filter_photo.style.maxWidth = img.offsetWidth + "px";
      filter_photo.style.backgroundImage = `url(${img.src})`;
      filter_photo.style.filter = this.photo_filter;
      filter_photo.style.webkitFilter = this.photo_filter;
    }
  },
  beforeDestroy() {
    window.onresize = null;
  }
}
</script>
