<template>
  <article>
    <header>
      <h1>Dostosuj moment</h1>
    </header>
    <div class="options-wrapper no-select">
      <InfoLocalizationOption :new_moment_data="new_moment_data" :city="city" :checked="checked" @clicked="localization_clicked">
      </InfoLocalizationOption>
      <div class="option">
        <i class="material-icons">people_outline</i> Wyślij do:
        <div class="friends-wrapper" style="max-height: 40vh;overflow-y: auto;">
          <Viewer v-for="f in friends" :friend="f" :viewers="viewers" :key="f.id" @clicked="handle_viewer">
          </Viewer>
        </div>
      </div>
    </div>

    <button id="send-moment" @click="send_moment">{{ button_text }}</button>
  </article>
</template>

<script>
import InfoLocalizationOption from "./info/InfoLocalizationOption.vue";
import Viewer from "./info/Viewer.vue";
import { get_current_location, get_city_info } from "../../../maps/maps";

export default {
  name: "new_moment_info",
  props: ["new_moment_data"],
  data() {
    return {
      city: {},
      checked: false,
      viewers: [],
      sending: false
    }
  },
  computed: {
    friends(){
      return this.$store.getters.friends;
    },
    button_text() {
      return !this.sending ? "Wyślij" : "Wysyłanie...";
    }
  },
  methods: {
    localization_clicked() {
      if (!this.checked) {
        if (Object.keys(this.city).length === 0) {
          get_current_location(this.set_city.bind(this));
        }
        else {
          this.checked = true;
        }
      }
      else {
        this.checked = false;
      }
    },
    set_city(city) {
      this.city = get_city_info(city);
      this.checked = true;
    },
    handle_viewer(user_id) {
      this.viewers.indexOf(user_id) === -1 ? this.viewers.push(user_id) : this.viewers.splice(this.viewers.indexOf(user_id), 1);
    },
    send_moment() {
      if (!this.sending && this.viewers.length > 0) {
        this.sending = true;
        this.new_moment_data.append("viewers", JSON.stringify(this.viewers));

        if (this.checked) {
          this.new_moment_data.append('city', this.city.place_id);
        }

        let request = new Request(
          "/api/moment",
          {
            method: "POST",
            body: this.new_moment_data,
            credentials: 'same-origin'
          }
        );

        fetch(request)
          .then(response => response.json())
          .then(data => {
            this.$router.push(sessionStorage.getItem("last_page"));
          })
          .catch(err => {
            this.sending = false;
            alert("Wystąpił błąd, sprawdź listę widzów oraz wysyłany plik i spróbuj ponownie.")
          });
      }
    }
  },
  components: {InfoLocalizationOption, Viewer}
}
</script>
