<template>
  <article>
    <CustomizeMenu @clear_all="clear_all" @filter="filter" @brush="brush"
                @blur_circular="blur_circular" @timer="timer" @send="send">
    </CustomizeMenu>

    <header>
      <h1 class="new-moment">Dostosuj moment</h1>
    </header>

    <NewMomentWrapper :new_moment_data="new_moment_data"
                      :mode="mode"
                      :prepare='prepare'
                      :canvas_details="canvas_details"
                      :rubber_details="rubber_details"
                      :filter_details="filter_details"
                      :clear_canvas="clear_canvas"
                      @end_preparing="end_preparing">
    </NewMomentWrapper>

    <Modals :canvas_details="canvas_details"
            :rubber_details="rubber_details"
            :filter_details="filter_details"
            :active_modal="active_modal"
            :duration="duration"
            @duration_changed="change_duration"
            @close_modal="close_modal">
    </Modals>
  </article>
</template>

<script>
import NewMomentWrapper from "./NewMomentWrapper.vue";
import Modals from "./modals/Modals.vue";
import CustomizeMenu from "./menu/CustomizeMenu.vue";

export default {
  name: 'NewMomentCustomize',
  props: ["new_moment_data"],
  data() {
    return {
      mode: "painting",
      clear_canvas: false,
      canvas_details: {
        lineWidth: 15,
        strokeStyle: "#FFCA1C",
        lineCap: 'round'
      },
      rubber_details: {
        lineWidth: 15
      },
      filter_details: {
        applied: false,
        name: "",
        preview: false,
        unit: "",
        value: 1
      },
      active_modal: null,
      prepare: false,
      duration: 10
    }
  },
  methods: {
    clear_all() {
      this.disable_filter();
      this.clear_canvas = !this.clear_canvas;
    },
    filter() {
      if (this.filter_details.preview) {
        this.filter_details.preview = !this.filter_details.preview;
      }
      else {
        this.active_modal = "filter";
      }
    },
    disable_filter() {
      if (this.filter_details.preview)  {
        this.filter_details.preview = !this.filter_details.preview;
      }
    },
    send() {
      this.prepare = true;
    },
    end_preparing(moment_img) {
      this.new_moment_data.set('content', moment_img);
      this.new_moment_data.set('duration', this.duration);
      this.$emit('change_comp', 'moment_info');
    },
    brush() {
      this.disable_filter();

      if (this.mode !== "painting") {
        this.mode = "painting";
      }
      else {
        this.active_modal = "brush";
      }
    },
    timer() {
      this.disable_filter();
      this.active_modal = "timer";
    },
    blur_circular() {
      this.disable_filter();

      if (this.mode !== "erasing") {
        this.mode = "erasing";
      }
      else {
        this.active_modal = "blur_circular"
      }
    },
    change_duration(duration) {
      this.duration = duration;
    },
    close_modal() {
      this.active_modal = null;
    }
  },
  components: {NewMomentWrapper, CustomizeMenu, Modals}
}
</script>
