<template>
  <main class="personalization-wrapper" :style="wrapper_style">
    <component :is="current_comp" :new_moment_data="new_moment_data" @change_comp="change_current_comp">
    </component>
  </main>
</template>

<script>
import NewMomentAdd from "./NewMomentAdd.vue";
import NewMomentCustomize from "./NewMomentCustomize.vue";
import NewMomentInfo from "./NewMomentInfo.vue";

export default {
  name: 'new_moment',
  data() {
    return {
      current_comp: "moment_add",
      new_moment_data: new FormData()
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    wrapper_style() {
      return !!this.user.color ? {backgroundColor: this.user.color} : {};
    }
  },
  methods: {
    change_current_comp(new_comp) {
      this.current_comp = new_comp;
    },
    check_friends_amount() {
      if (this.user.id !== 0 && this.user.friends.length === 0) {
        this.$router.push(sessionStorage.getItem("last_page"));
      }
    }
  },
  components: {
    "moment_add": NewMomentAdd,
    "moment_customize": NewMomentCustomize,
    "moment_info": NewMomentInfo
  },
  mounted(){
    this.check_friends_amount();
  },
  updated(){
    this.check_friends_amount();
  },
}
</script>
