<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import Moments from "./components/moments/Moments.vue";
import Settings from "./components/settings/Settings.vue";
import Cockpit from "./components/cockpit/Cockpit.vue";
import Personalization from "./components/personalization/Personalization.vue";

export default {
  name: 'App',
  components: {Moments, Settings, Cockpit, Personalization},
  created() {
    let redirect_function = () => this.$router.push("/personalization");

    let fetch_info = () => {
      this.$store.dispatch('fetch_user', redirect_function.bind(this))
      this.$store.dispatch('fetch_invitations');
    };

    fetch_info();
    setInterval(fetch_info, 60000);
  }
}
</script>
