{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
  <div id="app">
    <router-view></router-view>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&libraries=places"></script>
  <script src="{{ url_for('static', filename='js/dist/bundle-main.js') }}"></script>
{% endblock %}
