<template>
  <div class="city" :style="city_style">
    <router-link :to="city_link">
      <h3>{{ name }}</h3>
    </router-link>
  </div>
</template>

<script>
import Friend from "./Friend.vue";
import { get_random_color } from "../user_info";
import { get_place_details } from "../../../../maps/maps";

export default {
  name: "cockpit_city",
  props: ["city"],
  data() {
    return {
      image: null,
      color: null
    }
  },
  computed: {
    name() {
      return `${this.city.name}, ${this.city.country}`;
    },
    city_style() {
      let data = {};

      ["image", "color"].forEach(o => {
        if (!!this[o]) {
          let option_name = o.charAt(0).toUpperCase() + o.slice(1, o.length);
          data["background" + option_name] =  this[o];
        }
      });

      return data;
    },
    city_link() {
      return {name:"Profil miejsca", params: {id: this.city.id}};
    },
  },
  methods: {
    set_city_background(place, status) {
      /**
      * Callback function that sets city banner background. If city has photos,
      * background image will be set. Otherwise, random color will be generated
      * and applied.
      * @param { Object } place - Google Places API place object.
      * @param { String } status - status of request.
      */
      if (status === "OK" && place.hasOwnProperty("photos")) {
        let random = Math.floor(Math.random() * place.photos.length);
        let c = place.photos[random].getUrl({maxWidth: 700});
        this.image = `url(${c})`;
      }
      else {
        this.color = `rgb(${get_random_color()})`;
      }
    }
  },
  mounted() {
    get_place_details(this.city.place_id, this.set_city_background.bind(this));
  }
}
</script>
