<template>
  <div class="friend">
    <router-link :to="user_link">
      <div class="user-data">
        <div class="avatar" :style="avatar_style"></div>
        <div class="user-info">
          <h3>{{ first_info }}</h3>
          <h4>{{ second_info }}</h4>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import { avatar_style, first_info, second_info, user_link } from "../user_info";

export default {
  name: "friend",
  props: ["user"],
  computed: { avatar_style, first_info, second_info, user_link }
}
</script>
