<template>
  <li class="invitation" ref="invitation_el">
    <div class="user-data">
      <div class="avatar" :style="avatar_style"></div>
      <div class="user-info">
        <router-link :to="user_link">
          <h3>{{ first_info }}</h3>
        </router-link>
        <router-link :to="city_link" v-if="!!this.user.city">
          <h4>{{ second_info }}</h4>
        </router-link>
        <h4 v-else>{{ second_info }}</h4>
      </div>
    </div>
    <div class="buttons">
      <button class="accept" title="Zaakceptuj zaproszenie" @click="accept_invitation">
        <i class="material-icons">done</i>
      </button>
      <button class="reject" title="Odrzuć zaproszenie" @click="delete_invitation">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </li>
</template>

<script>
import { avatar_style, first_info, second_info, user_link, city_link } from "../user_info";

export default {
  name: 'invitation',
  props: ["invitation"],
  computed: {
    user() {
      return this.invitation.sender;
    },
    avatar_style, first_info, second_info, user_link, city_link
  },
  methods: {
    accept_invitation() {
      /**
      * Invokes function responsible for accepting invitation.
      */
      let data = [this.invitation, this.$refs.invitation_el, 'received'];
      this.$store.dispatch("accept_invitation", data);
    },
    delete_invitation() {
      /**
      * Invokes function responsible for rejecting invitation.
      */
      let data = [this.invitation, this.$refs.invitation_el, 'received'];
      this.$store.dispatch("delete_invitation", data);
    }
  },
  mounted() {
    this.$refs.invitation_el.style.maxHeight = this.$refs.invitation_el.offsetHeight + 200 + "px";
  }
}
</script>
