<template>
  <article class="fresh" :style="hot_style">
    <h2><i class="material-icons">whatshot</i> Popularne</h2>
    <router-link :to="profile_link" :title="profile_title">
      <h3>@{{ hottest.username }}</h3>
    </router-link>
    <p :title="normal_date">{{ pub_date }}</p>
    <router-link :to="moment_link" :title="moment_title">
      <button>Obejrzyj moment</button>
    </router-link>
  </article>
</template>

<script>
import { pub_date, moment_title, moment_link, profile_title, profile_link } from "./MomentMethods";

export default {
  name: 'hottest',
  props: ["hottest"],
  computed: {
    normal_date() {
      /**
      * Converts date object to string in 'DD.MM.YYYY, HH:MM' format.
      * @return { String } - formatted date.
      */
      let date = new Date(this.hottest.last_active);
      let format = x => String(x).length === 1 ? 0 + String(x) : x;
      let day_info = `${format(date.getDate())}.${format(date.getMonth()+1)}.${date.getFullYear()}`;
      let time_info = `${format(date.getHours())}:${format(date.getMinutes())}`

      return `${day_info}, ${time_info}`;
    },
    hot_style() {
      let color = this.hottest.color || 'orange';
      let data = {backgroundImage: `linear-gradient(to right bottom, ${color}, transparent)`};

      if (!!this.hottest.background) {
        data.backgroundImage += `, url(${this.hottest.background})`;
      }

      return data;
    }, pub_date, moment_title, moment_link, profile_title, profile_link
  }
}
</script>
