<template>
  <article class="moment" :style="moment_style">
    <header class="info-wrapper">
      <hgroup>
        <h2>@{{ moment.username }}</h2>
        <h3>{{ pub_date }}</h3>
        <h4><i class="material-icons">remove_red_eye</i> {{ moment.views }}</h4>
      </hgroup>
    </header>
    <div class="moment-control">
      <div class="buttons">
        <router-link :to="moment_link" :title="moment_title">
          <i class="material-icons">play_circle_outline</i>
        </router-link>
        <router-link :to="profile_link" :title="profile_title">
          <i class="material-icons">account_circle</i>
        </router-link>
      </div>
    </div>
  </article>
</template>

<script>
import { pub_date, get_proper_form, moment_title, moment_link, profile_title, profile_link } from "./MomentMethods";

export default {
  name: 'moment',
  props: ["moment"],
  computed: {
    moment_style() {
      let color = this.moment.color || "#EAC12A";

      if (!!this.moment.background) {
        return {background: `url(${this.moment.background}), ${color}`};
      }
      else {
        return {background: color};
      }
    },
    pub_date, moment_title, moment_link, profile_title, profile_link
  }
}
</script>
