<template>
  <div>
    <Navigation></Navigation>
    <div class="no-moments" v-if="moments.length == 0 && !hottest">
      <h1>
        <i class="material-icons">sentiment_very_dissatisfied</i>
        Brak momentów
      </h1>
      <h2 v-if="friends.length == 0">
        Znajdź swoich przyjaciół, przejdź do Kokpitu.
      </h2>
      <h2 v-else>Żaden z twoich przyjaciół nie podzielił się momentem.</h2>
    </div>

    <main class="container" v-else>
      <Hottest :hottest="hottest"></Hottest>
      <div class="moment-wrapper">
        <Moment v-for="m in moments" :moment="m" :key="m.id"></Moment>
      </div>
      <button class="container-button" id="load-next" @click="get_active_friends">
        {{ load_text }}
      </button>
    </main>
    <router-link to='/add_moment' class="add-moment-link">
      <i class="material-icons">add</i>
    </router-link>
  </div>
</template>

<script>
import Navigation from "../Navigation.vue";
import Hottest from "./Hottest.vue";
import Moment from "./Moment.vue";
import { get_url } from "./MomentMethods";

export default {
  name: 'moments',
  data () {
    return {
      moments: [],
      hottest: null,
      page: 1,
      per_page: 6,
      has_next: true,
      in_progress: false
    }
  },
  computed: {
    friends(){
      return this.$store.getters.friends;
    },
    load_text() {
      return this.has_next ? "Załaduj kolejne" : "Załadowano";
    }
  },
  methods: {
    get_active_friends() {
      /**
      * Makes request to get active friends (those friends who created Moment
      * and add current user to viewers of this moment).
      */
      this.in_progress = true;

      if (this.has_next) {
        let params = {page_number: this.page, per_page: this.per_page};

        let request = new Request(
          get_url("/api/activefriends", params),
          {
            method: "GET",
            credentials: "same-origin"
          }
        );

        fetch(request)
          .then(response => response.json())
          .then(data => {
            this.in_progress = false;

            const check_hot = () => {
              return data.hottest.id !== this.hottest.id && !this.moments.find(m => m.id == data.hottest.id)
            }

            if (!this.hottest) {
              this.hottest = data.hottest;
            }
            else if (!!data.hottest && check_hot()) {
              this.moments.push(data.hottest)
            }

            if (this.moments.length == 0) {
              this.moments = data.friends;
            }
            else {
              data.friends.forEach(friend => this.moments.push(friend));
            }

            data.has_next ? this.page += 1 : this.has_next = false;
          });
      }
    },
    scroll_load_active_friends() {
      let scroll_height = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
      let scroll_top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);

      if (scroll_height - scroll_top === window.innerHeight & !this.in_progress) {
        this.get_active_friends();
      }
    }
  },
  mounted() {
    this.get_active_friends();
    window.onscroll = this.scroll_load_active_friends;
  },
  beforeDestroy() {
    window.onscroll = null;
  },
  components: {Navigation, Hottest, Moment},
}
</script>
