<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">today</i> <span>{{ errors.birthdate }}</span>
    </div>
    <input type="text" name="birthdate"
                      minlength="10"
                      maxlength="10"
                      title="Data powinna mieć format RRRR-MM-DD"
                      placeholder="Data urodzenia [RRRR-MM-DD]"
                      pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
                      @change="validate_birthdate"
                      ref="field"
                      required>
  </div>
</template>

<script>
export default {
  name: 'birthdate',
  props: ["errors"],
  methods: {
    validate_birthdate() {
      if (this.$refs.field.checkValidity()) {
        let today = new Date()
        let date = new Date(this.$refs.field.value);

        if (String(date) === "Invalid Date" || date > today || date.getFullYear() < today.getFullYear() - 110) {
          this.errors.birthdate = "Format daty jest niepoprawny";
        }
        else {
          this.errors.birthdate = null;
        }
      }
      else {
        this.errors.birthdate = null;
      }
    },
    has_error() {
      return !!this.errors.birthdate;
    }
  }
}
</script>
