<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">check_box</i> <span>{{ errors.captcha }}</span>
    </div>
    <div class="g-recaptcha" id="captcha"></div>
  </div>

</template>

<script>
export default {
  name: 'captcha',
  props: ["errors"],
  methods: {
    has_error() {
      return !!this.errors.captcha;
    }
  },
  mounted() {
    grecaptcha.render("captcha", {sitekey: sessionStorage.getItem("SITE_KEY")});
  }
}
</script>
