<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">email</i> <span>{{ errors.email }}</span>
    </div>
    <input name="email" type="email" placeholder="Adres e-mail" ref="field"
                    @blur="check_error" @input="check_availability" required>
  </div>
</template>

<script>
import { check_availability } from "../../../main/components/settings/SettingsMethods";

export default {
  name: 'email',
  props: ["errors", "availability"],
  methods: {
    check_error() {
      if (this.$refs.field.checkValidity()) {
        if (!this.availability.email) {
          this.errors.email = "Adres e-mail jest zajęty."
        }
        else {
          this.errors.email = null;
        }
      }
      else {
        this.errors.email = null;
      }
    },
    has_error() {
      return !!this.errors.email;
    },
    check_availability
  }
}
</script>
