<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">account_circle</i> <span>{{ errors.first_name }}</span>
    </div>
    <input type="text" name="first_name"
                      minlength="2"
                      maxlength="32"
                      pattern="^[a-zA-Ząęśćżźłó]+$"
                      placeholder="Imię"
                      title="Imię może zawierać tylko litery."
                      @blur="hide_error"
                      required>
  </div>
</template>

<script>
export default {
  name: 'first_name',
  props: ["errors"],
  methods: {
    hide_error(event) {
      if (event.target.checkValidity()) this.errors.first_name = null;
    },
    has_error() {
      return !!this.errors.first_name;
    }
  }
}
</script>
