<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">account_circle</i> <span>{{ errors.last_name }}</span>
    </div>
    <input type="text" name="last_name"
                      minlength="2"
                      maxlength="32"
                      pattern="^[a-zA-Ząęśćżźłó][a-zA-Ząęśćżźłó ]+$"
                      placeholder="Nazwisko"
                      @blur="hide_error"
                      title="Nazwisko może zawierać tylko litery, pauzy i spacje."
                      required>
  </div>
</template>

<script>
export default {
  name: "last_name",
  props: ["errors"],
  methods: {
    hide_error(event) {
      if (event.target.checkValidity()) this.errors.last_name = null;
    },
    has_error() {
      return !!this.errors.last_name;
    }
  }
}
</script>
