<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">explore</i> <span>{{ errors.city }}</span>
    </div>
    <input type="text" name="localization" ref="field" required>
    <input type="hidden" name="city" :value="city.place_id">
  </div>
</template>

<script>
import { init_geocomplete } from "../../../maps/maps";

export default {
  name: 'localization',
  data() {
    return {
      city: {place_id: null}
    }
  },
  props: ["errors"],
  methods: {
    handle_geocomplete(city) {
      this.city = city;
      this.$refs.field.value = city.formatted_address;
      this.errors.city = null;
    },
    has_error() {
      return !!this.errors.city;
    }
  },
  mounted() {
    init_geocomplete(this.$refs.field, this.handle_geocomplete.bind(this))
  }
}
</script>
