<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">security</i> <span>{{ errors.password }}</span>
    </div>
    <input type="password" name="password"
                          minlength="6"
                          maxlength="32"
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$"
                          placeholder="Hasło"
                          @blur="hide_error"
                          title="Hasło musi zawierać małe i wielkie litery oraz cyfry."
                          required>
    <input type="password" name="password_repeat"
                          minlength="6"
                          maxlength="32"
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$"
                          placeholder="Powtórz hasło"
                          @blur="hide_error"
                          title="Hasło musi zawierać małe i wielkie litery oraz cyfry."
                          required>
  </div>
</template>

<script>
export default {
  name: 'password',
  props: ["errors"],
  methods: {
    hide_error(event) {
      if (event.target.checkValidity()) this.errors.password = null;
    },
    has_error() {
      return !!this.errors.password;
    }
  }
}
</script>
