<template>
  <div class="field-wrapper">
    <div class="error-block visible" v-if="!!has_error()">
      <i class="material-icons">account_circle</i> <span>{{ errors.username }}</span>
    </div>
    <input name="username" type="text"
                          placeholder="Nazwa użytkownika"
                          pattern="^[a-zA-Z0-9_.@]+$"
                          title="Nazwa może składać się z liter, cyfr, kropek i podkreśleń"
                          minlength="4"
                          maxlength="64"
                          ref="field"
                          @blur="check_error"
                          @input="check_availability"
                          required>
  </div>
</template>

<script>
import { check_availability } from "../../../main/components/settings/SettingsMethods";

export default {
  name: 'username',
  props: ["errors", "availability"],
  methods: {
    check_error() {
      if (this.$refs.field.checkValidity()) {
        if (!this.availability.username) {
          this.errors.username = "Nazwa użytkownika jest zajęta."
        }
        else {
          this.errors.username = null;
        }
      }
      else {
        this.errors.username = null;
      }
    },
    has_error() {
      return !!this.errors.username;
    },
    check_availability
  }
}
</script>
