<template>
  <header>
    <h1><span>Your</span>Moments</h1>
    <nav>
      <ul ref="nav_list">
        <li v-for="route in routes">
          <router-link :to="route.path">{{ route.name }}</router-link>
        </li>
        <li><a href="/logout">Wyloguj się</a></li>
      </ul>

      <input type="search" placeholder="Szukaj"
                          :class="search_class"
                          @blur="search_blur"
                          @input="search_input"
                          ref="input"
                          v-if="search">
    </nav>
  </header>
</template>

<script>
import routes from "../routes";

export default {
  name: 'navigation',
  props: ["search", "trigger"],
  data() {
    return {routes: routes.filter(r => r.nav), visible: false};
  },
  computed: {
    search_class() {
      return this.visible ? 'visible' : ''
    }
  },
  watch: {
    trigger(value) {
      if (!this.visible) {
        this.visible = true;
        this.$refs.input.focus();
      }
    }
  },
  methods: {
    search_blur() {
      /**
      * Hidding on blur search input if page offset is lower than main content
      * wrapper's top.
      */
      if (this.$refs.nav_list.getBoundingClientRect().bottom > 0) {
        this.visible = false;
      }
    },
    search_input(event) {
      this.$emit('filter_changed', event.target.value);
    },
    toggle_search_bar: function() {
      if (this.$refs.nav_list.getBoundingClientRect().bottom < 0) {
        this.visible = true;
      }
      else if (document.activeElement !== this.$refs.input) {
        this.visible = false;
      }
    }
  },
  mounted: function() {
    if (this.search) window.onscroll = this.toggle_search_bar;
  },
  beforeDestroy: function() {
    window.onscroll = null;
  },
}
</script>
