@charset "UTF-8";
@font-face {
  font-family: Bebas Neue;
  font-weight: bold;
  src: url("../fonts/BebasNeue Bold.otf"); }
@font-face {
  font-family: Bebas Neue;
  font-weight: normal;
  src: url("../fonts/BebasNeue Regular.otf"); }
@font-face {
  font-family: Bebas Neue;
  font-weight: lighter;
  src: url("../fonts/BebasNeue Light.otf"); }
.auth-body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: Bebas Neue; }
  .auth-body .back, .auth-body .error-section, .auth-body .wrapper {
    min-height: 100%;
    width: 100%;
    top: 0; }
  .auth-body .back {
    position: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0; }
  .auth-body .back.visible {
    -webkit-animation-name: back-fade;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: initial;
    -moz-animation-name: back-fade;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;
    -animation-iteration-count: initial;
    o-animation-name: back-fade;
    o-animation-duration: back-fade;
    o-animation-fill-mode: forwards;
    o-animation-delay: 0s;
    o-animation-iteration-count: initial;
    -ms-animation-name: back-fade;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-delay: 0s;
    -ms-animation-iteration-count: initial;
    animation-name: back-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: initial; }
  .auth-body .wrapper {
    background: linear-gradient(to bottom, #FFCA1C, transparent);
    z-index: 2;
    color: white;
    position: absolute; }
    .auth-body .wrapper .main-header h1 {
      text-align: center;
      font-size: 4em;
      margin: 20px auto 10px; }
      .auth-body .wrapper .main-header h1 span {
        font-weight: normal; }
    .auth-body .wrapper .main-header h2 {
      margin-top: 0px;
      text-align: center;
      font-size: 2.2em;
      font-weight: lighter;
      color: black; }
      .auth-body .wrapper .main-header h2 .slogan {
        background-color: white;
        padding: 0.4em 0.5em;
        mix-blend-mode: screen;
        clip-path: polygon(0% 20%, 4% 0%, 100% 0%, 100% 80%, 96% 100%, 0% 100%); }
    .auth-body .wrapper .form-wrappers button {
      width: 100%;
      min-height: 20px;
      line-height: 20px;
      padding: 0.65em 0 0.55em;
      outline: none;
      border: none;
      font-family: Bebas Neue;
      font-weight: normal;
      font-size: 1.4em;
      letter-spacing: 0.045em;
      border-radius: 0.2em;
      cursor: pointer;
      color: white;
      margin: 6px 0; }
    .auth-body .wrapper .form-wrappers .auth-page {
      margin: 0px 33%;
      width: 33%; }
    .auth-body .wrapper .form-wrappers .auth-main {
      margin: 30px 5% 0 20%;
      width: 25%; }
    .auth-body .wrapper .form-wrappers form {
      float: left; }
      .auth-body .wrapper .form-wrappers form .error-block {
        background-color: #005dab;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 0.1em;
        font-size: 1.7em;
        max-height: 0px;
        margin-top: 0;
        overflow: hidden;
        cursor: pointer;
        transition: background-color 0.4s, max-height 0.5s, padding 0.4s, margin-top 0.2s; }
        .auth-body .wrapper .form-wrappers form .error-block:hover {
          background-color: #004a87; }
        .auth-body .wrapper .form-wrappers form .error-block i {
          font-size: 1.04em;
          vertical-align: middle;
          position: relative;
          left: -8px; }
      .auth-body .wrapper .form-wrappers form .error-block.visible {
        padding: 0.4em 1em;
        margin-top: 20px;
        max-height: 500px; }
      .auth-body .wrapper .form-wrappers form .field-wrapper {
        position: relative; }
        .auth-body .wrapper .form-wrappers form .field-wrapper:after {
          display: block;
          position: absolute;
          top: 50%;
          right: -40px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
          transform: translateY(-50%);
          font-family: Material Icons;
          font-size: 1.8em; }
      .auth-body .wrapper .form-wrappers form .searching:after {
        content: "";
        -webkit-animation-name: loading-rotate;
        -webkit-animation-duration: 2s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-name: loading-rotate;
        -moz-animation-duration: 2s;
        -moz-animation-fill-mode: forwards;
        -moz-animation-delay: 0s;
        -animation-iteration-count: infinite;
        o-animation-name: loading-rotate;
        o-animation-duration: loading-rotate;
        o-animation-fill-mode: forwards;
        o-animation-delay: 0s;
        o-animation-iteration-count: infinite;
        -ms-animation-name: loading-rotate;
        -ms-animation-duration: 2s;
        -ms-animation-fill-mode: forwards;
        -ms-animation-delay: 0s;
        -ms-animation-iteration-count: infinite;
        animation-name: loading-rotate;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-iteration-count: infinite; }
      .auth-body .wrapper .form-wrappers form .available:after {
        content: ""; }
      .auth-body .wrapper .form-wrappers form .used:after {
        content: ""; }
      .auth-body .wrapper .form-wrappers form input {
        display: block;
        width: 100%;
        min-height: 40px;
        background: white;
        margin-top: 20px;
        font-family: Bebas Neue;
        font-weight: bolder;
        font-size: 2.5em;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 0.05em;
        box-sizing: border-box;
        transition: box-shadow 0.4s; }
        .auth-body .wrapper .form-wrappers form input::-webkit-input-placeholder {
          font-family: Bebas Neue;
          font-weight: bolder;
          font-size: 1em;
          transition: color 0.2s;
          color: black; }
        .auth-body .wrapper .form-wrappers form input::-webkit-input-placeholder {
          font-family: Bebas Neue;
          font-weight: bolder;
          font-size: 1em;
          transition: color 0.2s;
          color: black; }
        .auth-body .wrapper .form-wrappers form input::-moz-placeholder {
          font-family: Bebas Neue;
          font-weight: bolder;
          font-size: 1em;
          transition: color 0.2s;
          color: black; }
        .auth-body .wrapper .form-wrappers form input::-ms-input-placeholder {
          font-family: Bebas Neue;
          font-weight: bolder;
          font-size: 1em;
          transition: color 0.2s;
          color: black; }
        .auth-body .wrapper .form-wrappers form input::-moz-placeholder {
          font-family: Bebas Neue;
          font-weight: bolder;
          font-size: 1em;
          transition: color 0.2s;
          color: black; }
        .auth-body .wrapper .form-wrappers form input:focus {
          box-shadow: 0 0 5px black; }
          .auth-body .wrapper .form-wrappers form input:focus::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.4); }
          .auth-body .wrapper .form-wrappers form input:focus::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.4); }
          .auth-body .wrapper .form-wrappers form input:focus::-moz-placeholder {
            color: rgba(0, 0, 0, 0.4); }
          .auth-body .wrapper .form-wrappers form input:focus::-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.4); }
          .auth-body .wrapper .form-wrappers form input:focus::-moz-placeholder {
            color: rgba(0, 0, 0, 0.4); }
      .auth-body .wrapper .form-wrappers form .login-button {
        margin-top: 20px;
        background-color: #005dab;
        box-shadow: 0 4px #005dab;
        transition: box-shadow 0.3s; }
        .auth-body .wrapper .form-wrappers form .login-button:hover {
          box-shadow: 0 4px #003969; }
      .auth-body .wrapper .form-wrappers form .google-button {
        background-color: #F44336;
        box-shadow: 0 4px #F44336;
        transition: box-shadow 0.3s; }
        .auth-body .wrapper .form-wrappers form .google-button:hover {
          box-shadow: 0 4px #dc1a0c; }
      .auth-body .wrapper .form-wrappers form .twitter-button {
        background-color: #4099FF;
        box-shadow: 0 4px #4099FF;
        transition: box-shadow 0.3s; }
        .auth-body .wrapper .form-wrappers form .twitter-button:hover {
          box-shadow: 0 4px #0076fd; }
      .auth-body .wrapper .form-wrappers form .g-recaptcha {
        margin: 20px 0; }
    .auth-body .wrapper .form-wrappers .form-link {
      color: white;
      text-decoration: none;
      text-align: center;
      letter-spacing: 0.1em;
      display: block;
      margin: 10px auto 25px;
      text-shadow: 1px 1px 3px black;
      font-size: 1.3em;
      font-weight: bolder;
      transition: text-shadow 0.2s; }
      .auth-body .wrapper .form-wrappers .form-link:hover {
        text-shadow: 1px 1px 1px #005dab; }
    .auth-body .wrapper .form-wrappers > header {
      float: left;
      margin: 50px 0;
      background: #fcb134;
      border-radius: 0.1em;
      padding: 1em 1.5em 1.3em;
      color: #005dab;
      box-sizing: border-box; }
      .auth-body .wrapper .form-wrappers > header h1 {
        font-size: 4em;
        font-weight: lighter;
        margin: 0 0 10px; }
      .auth-body .wrapper .form-wrappers > header button {
        background: none;
        border: 4px solid #005dab;
        color: #005dab;
        transition: background 0.4s, color 0.4s; }
        .auth-body .wrapper .form-wrappers > header button h2 {
          font-weight: bolder;
          font-size: 1.1em;
          margin: 0; }
          .auth-body .wrapper .form-wrappers > header button h2 span {
            position: relative;
            overflow: hidden; }
            .auth-body .wrapper .form-wrappers > header button h2 span:after {
              content: "";
              background-color: #005dab;
              display: block;
              width: 0%;
              height: 10%;
              position: absolute;
              top: 90%;
              left: 0;
              transition: width 1s, background-color 1s; }
        .auth-body .wrapper .form-wrappers > header button:hover {
          background: rgba(0, 93, 171, 0.5);
          color: #fdc05c; }
          .auth-body .wrapper .form-wrappers > header button:hover h2 span:after {
            background-color: #fcb134;
            width: 100%; }

@-webkit-keyframes back-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes back-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes back-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes back-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes loading-rotate {
  0% {
    transform: translateY(-50%) rotate(0deg); }
  100% {
    transform: translateY(-50%) rotate(360deg); } }
@-moz-keyframes loading-rotate {
  0% {
    transform: translateY(-50%) rotate(0deg); }
  100% {
    transform: translateY(-50%) rotate(360deg); } }
@-ms-keyframes loading-rotate {
  0% {
    transform: translateY(-50%) rotate(0deg); }
  100% {
    transform: translateY(-50%) rotate(360deg); } }
@keyframes loading-rotate {
  0% {
    transform: translateY(-50%) rotate(0deg); }
  100% {
    transform: translateY(-50%) rotate(360deg); } }
@media (max-width: 1000px) {
  .auth-main {
    margin: 30px 5% 0 10% !important;
    width: 35% !important; }

  .auth-page {
    margin: 0 27.5% !important;
    width: 45% !important; } }
@media (max-width: 780px) {
  .form-wrappers .auth-main {
    margin: 30px 10% !important;
    width: 80% !important; }
  .form-wrappers .auth-page {
    margin: 0 10% !important;
    width: 80% !important; }
  .form-wrappers > header {
    width: 80%;
    margin: 35px 10% !important; }
    .form-wrappers > header h1 {
      text-align: center; } }
.home-body {
  margin: 0;
  padding: 0; }
  .home-body header {
    border-bottom: 2px solid #f3f3f3; }
    .home-body header h1 {
      margin: 0.4em 0 0.15em;
      text-align: center;
      font-size: 3.5em; }
      .home-body header h1 span {
        font-weight: lighter; }
    .home-body header nav ul {
      padding: 0;
      text-align: center; }
      .home-body header nav ul li {
        border-radius: 0.06em;
        display: inline-block;
        font-size: 1.9em;
        text-align: center;
        margin: 0 0.2em;
        padding: 0.2em 0.4em;
        border: 1px solid transparent;
        transition: border 0.4s;
        box-sizing: border-box; }
        .home-body header nav ul li:hover {
          border-color: #FFCA1C; }
        .home-body header nav ul li a {
          color: #FFCA1C;
          text-decoration: none;
          width: 100%;
          display: block; }
  .home-body .no-moments {
    text-align: center; }
    .home-body .no-moments i {
      font-size: 1em;
      vertical-align: middle; }
    .home-body .no-moments h1 {
      font-size: 3em;
      margin-bottom: 0; }
    .home-body .no-moments h2 {
      margin-top: 0.5em;
      font-size: 2em;
      font-weight: lighter; }
  .home-body .visible {
    transform: translateY(0%) !important; }
  .home-body input[type=search] {
    z-index: 2;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px black;
    font-family: Bebas Neue;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    transform: translateY(-120%);
    transition: transform 0.5s; }
  .home-body .container {
    margin: 2em 12.5%; }
    .home-body .container h1 {
      font-size: 3em;
      text-align: center; }
      .home-body .container h1 i {
        font-size: 0.9em;
        vertical-align: middle; }
    .home-body .container button {
      border: none;
      outline: none;
      cursor: pointer;
      font-family: Bebas Neue;
      font-size: 1.8em;
      font-weight: bold;
      padding: 0.4em 1em;
      border-radius: 0.1em;
      transition: background-color 0.3s;
      margin-bottom: 1.3em; }
    .home-body .container .fresh {
      width: 100%;
      background-image: linear-gradient(to right bottom, #EE8902, transparent), url(https://images.pexels.com/photos/36962/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
      background-position: center center;
      background-size: cover;
      padding: 1em;
      border-radius: 0.3em;
      box-sizing: border-box; }
      .home-body .container .fresh a {
        text-decoration: none; }
      .home-body .container .fresh h2 {
        color: white;
        font-size: 2.5em;
        margin: 0.1em; }
        .home-body .container .fresh h2 i {
          vertical-align: middle;
          font-size: 0.9em; }
      .home-body .container .fresh h3 {
        color: white;
        font-weight: lighter;
        margin: 0.2em 0 0;
        font-size: 3em;
        letter-spacing: 0.07em; }
      .home-body .container .fresh p {
        margin: 0;
        margin-bottom: 0.6em;
        color: white;
        font-weight: bolder;
        font-size: 2em; }
      .home-body .container .fresh button {
        background-color: white; }
        .home-body .container .fresh button:hover {
          background-color: #e6e6e6; }
    .home-body .container .moment-wrapper {
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .home-body .container .moment-wrapper .moment {
        float: left;
        width: 31%;
        min-height: 220px;
        min-width: 280px;
        color: white;
        box-sizing: border-box;
        background: url(https://instagram.fwaw3-1.fna.fbcdn.net/t51.2885-15/e35/15624013_1781458885454378_7884197389966245888_n.jpg), blueviolet;
        background-blend-mode: multiply;
        background-position: center center !important;
        background-size: cover !important;
        position: relative;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 1.5em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .home-body .container .moment-wrapper .moment:hover .info-wrapper, .home-body .container .moment-wrapper .moment:hover .moment-control {
          transform: translateY(-100%); }
        .home-body .container .moment-wrapper .moment .info-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transition: transform 0.7s;
          border: none; }
          .home-body .container .moment-wrapper .moment .info-wrapper h2 {
            font-size: 2.3em;
            margin: 40px 0 0;
            text-shadow: 1px 1px black; }
          .home-body .container .moment-wrapper .moment .info-wrapper h3 {
            font-size: 2.8em;
            font-weight: lighter;
            margin-top: 0;
            margin-bottom: 0.5em;
            text-shadow: 1px 1px black; }
          .home-body .container .moment-wrapper .moment .info-wrapper h4 {
            font-size: 1.2em;
            text-shadow: 1px 1px black; }
            .home-body .container .moment-wrapper .moment .info-wrapper h4 i {
              font-size: 0.8em;
              vertical-align: middle;
              margin: 0; }
        .home-body .container .moment-wrapper .moment .moment-control {
          position: absolute;
          top: 100%;
          height: 100%;
          width: 100%;
          transition: transform 0.7s; }
          .home-body .container .moment-wrapper .moment .moment-control .buttons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            display: flex;
            justify-content: space-around; }
            .home-body .container .moment-wrapper .moment .moment-control .buttons i {
              color: white;
              font-size: 4em;
              opacity: 0.85;
              transition: transform 0.7s, opacity 0.7s;
              position: relative; }
              .home-body .container .moment-wrapper .moment .moment-control .buttons i:hover {
                transform: scale(1.2);
                opacity: 1; }
    .home-body .container .container-button {
      background: #FFCA1C;
      color: white;
      display: block;
      margin: 0.3em auto; }
      .home-body .container .container-button i {
        vertical-align: middle; }
      .home-body .container .container-button:hover {
        background: #e8b200; }
  .home-body .add-moment-link {
    position: fixed;
    right: 3%;
    bottom: 5%; }
    .home-body .add-moment-link i {
      color: white;
      background: #FFCA1C;
      border-radius: 50px;
      padding: 0.4em;
      font-size: 2em;
      transition: background 0.5s; }
    .home-body .add-moment-link:before {
      position: absolute;
      top: 0;
      left: -6.9em;
      content: "Dodaj moment";
      display: block;
      color: white;
      font-size: 1.8em;
      padding: 0.3em 0.8em 0.4em;
      border-radius: 0.2em;
      background: #FFCA1C;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.4s, opacity 0.5s; }
    .home-body .add-moment-link:after {
      position: absolute;
      display: block;
      top: 0.7em;
      left: -1.8em;
      content: "";
      width: 0;
      height: 0;
      border-top: 1em solid transparent;
      border-left: 1em solid #FFCA1C;
      border-bottom: 1em solid transparent;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.4s, opacity 0.4s; }
    .home-body .add-moment-link:hover:before, .home-body .add-moment-link:hover:after {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s, opacity 0.4s; }
    .home-body .add-moment-link:hover i {
      background: #ffe282; }

@media (max-width: 550px) {
  .fresh {
    text-align: center; }

  li {
    display: block !important; } }
.personalization-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0079de;
  color: white;
  overflow-x: hidden;
  overflow-y: auto; }
  .personalization-wrapper header {
    border-bottom: none; }
    .personalization-wrapper header h1 {
      font-size: 3em;
      text-align: center;
      margin-bottom: 0.2em; }
    .personalization-wrapper header h2 {
      font-size: 2em;
      font-weight: lighter;
      text-align: center;
      margin-top: 0; }
  .personalization-wrapper .color-picker {
    margin: 3em;
    position: relative; }
    .personalization-wrapper .color-picker h3 {
      font-size: 1.8em;
      text-align: center;
      margin-bottom: 0.5em; }
    .personalization-wrapper .color-picker .color-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .personalization-wrapper .color-picker .color-wrapper .color-box {
        display: inline-block;
        width: 3em;
        height: 3em;
        margin: 0.5em;
        text-align: center;
        background-color: red;
        box-sizing: border-box;
        border: 2px dashed transparent;
        transition: border-color 0.4s;
        cursor: pointer; }
        .personalization-wrapper .color-picker .color-wrapper .color-box:hover {
          border-color: white; }
      .personalization-wrapper .color-picker .color-wrapper .active {
        border-color: white; }
    .personalization-wrapper .color-picker form {
      margin: 0.8em;
      text-align: center; }
      .personalization-wrapper .color-picker form input, .personalization-wrapper .color-picker form button {
        outline: none;
        border: none; }
      .personalization-wrapper .color-picker form input {
        width: 3em;
        font-family: Bebas Neue;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0.4em;
        border-radius: 0.1em;
        display: inline-block;
        margin: 0.3em; }
      .personalization-wrapper .color-picker form button {
        vertical-align: middle;
        outline: none;
        border: none;
        background: #00335f;
        border-radius: 100%;
        padding: 0.4em 0.4em 0.2em;
        color: white;
        margin-left: 0.3em;
        cursor: pointer; }
  .personalization-wrapper .back-picker {
    width: 60%;
    margin: 2em 20%;
    height: 50vh; }
  .personalization-wrapper .avatar-picker {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    display: block;
    margin: 3em auto; }
    .personalization-wrapper .avatar-picker h3 {
      top: 35% !important; }
  .personalization-wrapper .picker {
    border: 3px dashed white;
    position: relative;
    cursor: pointer; }
    .personalization-wrapper .picker h3 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8em;
      width: 100%;
      text-align: center; }
      .personalization-wrapper .picker h3 i {
        vertical-align: middle; }
  .personalization-wrapper .skip-button {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    border-radius: 0.1em;
    mix-blend-mode: screen;
    padding: 0.3em 0.7em 0.2em;
    font-size: 1.6em;
    font-family: Bebas Neue;
    font-weight: bolder; }
  .personalization-wrapper input[type=file] {
    display: none; }

@media (max-width: 600px) {
  .back-picker {
    width: 80% !important;
    margin: 2em 10% !important; } }
.home-body .container .avatar {
  min-width: 60px;
  height: 60px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
  background-color: #b3b3b3; }
.home-body .container .list-component header {
  padding: 0.2em;
  transition: background 0.7s;
  color: #ffd64f;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .home-body .container .list-component header:hover {
    background: #fffcf2; }
  .home-body .container .list-component header h2 {
    font-size: 2em;
    margin: 0.3em; }
    .home-body .container .list-component header h2 i {
      font-size: 1em;
      vertical-align: middle; }
  .home-body .container .list-component header > i {
    font-size: 3em;
    vertical-align: bottom;
    transform: translateY(10%);
    transition: transform 0.4s; }
.home-body .container .list-component .list-content {
  overflow: hidden;
  transition: max-height 0.8s, opacity 0.5s; }
  .home-body .container .list-component .list-content a {
    text-decoration: none;
    color: black; }
  .home-body .container .list-component .list-content .user-data {
    display: flex; }
    .home-body .container .list-component .list-content .user-data .user-info h3, .home-body .container .list-component .list-content .user-data .user-info h4 {
      margin: 0 0.5em;
      font-size: 1.7em; }
    .home-body .container .list-component .list-content .user-data .user-info h4 {
      font-weight: lighter; }
      .home-body .container .list-component .list-content .user-data .user-info h4 i {
        vertical-align: middle; }
  .home-body .container .list-component .list-content ul {
    list-style-type: none;
    padding-left: 1em; }
    .home-body .container .list-component .list-content ul .hidden {
      opacity: 0;
      max-height: 0px !important; }
    .home-body .container .list-component .list-content ul .invitation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5em;
      transition: max-height 0.8s, opacity 0.5s; }
      .home-body .container .list-component .list-content ul .invitation .buttons {
        margin-top: 0.2em; }
        .home-body .container .list-component .list-content ul .invitation .buttons button {
          background-color: #D7D7D7;
          outline: none;
          border: none;
          padding: 0.3em;
          margin: 0 0.2em 0.2em;
          color: white;
          cursor: pointer;
          border-radius: 0.2em;
          transition: background-color 0.6s; }
          .home-body .container .list-component .list-content ul .invitation .buttons button i {
            vertical-align: middle;
            font-size: 1em; }
        .home-body .container .list-component .list-content ul .invitation .buttons .accept:hover {
          background-color: #17CD2D; }
        .home-body .container .list-component .list-content ul .invitation .buttons .reject:hover {
          background-color: #EC0C00; }
  .home-body .container .list-component .list-content .friends-list {
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 100%; }
    .home-body .container .list-component .list-content .friends-list a {
      width: 48%; }
      .home-body .container .list-component .list-content .friends-list a .moment-preview {
        margin-bottom: 0.5em;
        padding: 0.7em 1.8em;
        box-sizing: border-box;
        text-align: center;
        border-radius: 5px;
        color: white; }
    .home-body .container .list-component .list-content .friends-list .friend {
      cursor: pointer;
      margin: 0.5em 0;
      padding: 0.5em;
      border-radius: 0.2em;
      box-sizing: border-box;
      display: block;
      float: left;
      width: 33%;
      transition: background 0.5s; }
      .home-body .container .list-component .list-content .friends-list .friend:hover {
        background: #e6e6e6; }
  .home-body .container .list-component .list-content .cities {
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap; }
    .home-body .container .list-component .list-content .cities .city {
      width: 30%;
      margin: 0.7em 1.5%;
      background-size: cover;
      background-position: center center;
      padding: 0.3em;
      box-sizing: border-box; }
      .home-body .container .list-component .list-content .cities .city h3 {
        text-align: center;
        color: white;
        font-size: 2.4em;
        text-shadow: 3px 3px black; }
.home-body .container .list-hidden header > i {
  transform: translateY(-10%) rotate(180deg) !important; }
.home-body .container .list-hidden .list-content {
  opacity: 0; }

@media (max-width: 550px) {
  .container {
    margin: 2em 5% !important; }
    .container .list-content .buttons {
      margin-top: 0.4em !important; }
    .container .list-content .friend, .container .list-content .city, .container .list-content .moment-preview {
      width: 100% !important;
      margin: 0.7em 0 !important; } }
@media (max-width: 900px) {
  .container .friend, .container .city {
    width: 48.5% !important; } }
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.personalization-wrapper .options-wrapper {
  width: 50%;
  display: block;
  margin: 0 auto; }
  .personalization-wrapper .options-wrapper .option {
    color: black;
    background: white;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 0.5em; }
    .personalization-wrapper .options-wrapper .option .viewer {
      margin-top: 0.5em;
      cursor: pointer; }
.personalization-wrapper #send-moment {
  display: block;
  margin: auto;
  background: none;
  outline: none;
  border: none;
  font-family: Bebas Neue;
  color: white;
  border-radius: 0.05em;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.2em 0.7em;
  cursor: pointer; }
.personalization-wrapper .new-moment {
  margin: 0.7em 0 0.4em !important; }
.personalization-wrapper .camera-wrapper {
  display: block;
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em; }
  .personalization-wrapper .camera-wrapper video {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    border-radius: 0.2em; }
  .personalization-wrapper .camera-wrapper h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: normal;
    font-family: Bebas Neue;
    font-size: 3.5em;
    margin: 0; }
    .personalization-wrapper .camera-wrapper h3 span {
      position: relative; }
    .personalization-wrapper .camera-wrapper h3:before {
      position: absolute;
      top: 0;
      left: 50%;
      font-family: Material Icons;
      font-size: 1.1em;
      content: "";
      opacity: 0;
      transform: translateX(-50%);
      transition: opacity 0.5s, transform 0.5s; }
  .personalization-wrapper .camera-wrapper:hover h3:before {
    transform: translate(-50%, -100%);
    opacity: 1; }
.personalization-wrapper .custom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: white;
  z-index: 100; }
  .personalization-wrapper .custom-menu li {
    display: inline-block !important;
    margin: 0 0.5em;
    transform: translateY(150%);
    opacity: 0;
    cursor: pointer;
    transition: transform 0.5s, opacity 0.5s; }
    .personalization-wrapper .custom-menu li:hover i:before {
      transform: scale(1.65); }
    .personalization-wrapper .custom-menu li i {
      font-size: 1.7em !important;
      position: relative; }
      .personalization-wrapper .custom-menu li i:before {
        content: "";
        position: absolute;
        top: 0;
        border-radius: 50px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
        transform: scale(0);
        transition: transform 0.5s; }
  .personalization-wrapper .custom-menu .visible {
    transform: none;
    opacity: 1; }
.personalization-wrapper .new-moment-wrapper {
  height: 70vh;
  width: 100%;
  margin: 0;
  position: relative; }
  .personalization-wrapper .new-moment-wrapper video {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    max-height: 100%; }
  .personalization-wrapper .new-moment-wrapper figure {
    width: 100%;
    height: 100%;
    margin: 0; }
    .personalization-wrapper .new-moment-wrapper figure img {
      display: block;
      margin: 0 auto;
      max-width: 95%;
      max-height: 100%; }
  .personalization-wrapper .new-moment-wrapper canvas {
    position: absolute;
    top: 0;
    cursor: crosshair; }
.personalization-wrapper .filter-photo {
  position: absolute;
  top: 0;
  background-size: cover;
  cursor: ew-resize; }
.personalization-wrapper .modals-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101; }
  .personalization-wrapper .modals-wrapper .modal {
    width: 50vw;
    position: absolute;
    top: 5vh;
    left: 25vw;
    color: black; }
    .personalization-wrapper .modals-wrapper .modal header {
      border-radius: 0.1em;
      background: white;
      padding: 0.7em 1em;
      display: flex;
      justify-content: space-between; }
      .personalization-wrapper .modals-wrapper .modal header h3 {
        font-size: 2.5em;
        margin: 0; }
        .personalization-wrapper .modals-wrapper .modal header h3 i {
          font-size: 0.6em; }
    .personalization-wrapper .modals-wrapper .modal .modal-content {
      max-height: 50vh;
      border-radius: 0.1em;
      padding: 0.7em 0.8em;
      background: white;
      overflow-y: auto;
      margin: 0.6em 0;
      font-size: 1.8em; }
      .personalization-wrapper .modals-wrapper .modal .modal-content button {
        cursor: pointer; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .paint-wrapper, .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 0.2em; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .paint-wrapper h4, .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper h4 {
          margin: 0;
          font-weight: normal; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .add_color_wrapper {
        display: flex; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .add_color_wrapper input {
          max-width: 4em; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .add_color_wrapper button {
          margin-left: 1em;
          background: none; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper {
        flex-direction: column;
        transition: background 0.5s;
        padding: 0.15em 0.25em;
        cursor: pointer; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper:hover {
          background-color: #EAEAEA; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper .filter-option {
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper .filter-buttons button {
          padding: 0;
          background: none; }
          .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper .filter-buttons button i {
            font-size: 2.2em;
            opacity: 0.6;
            transition: opacity 0.6s; }
          .personalization-wrapper .modals-wrapper .modal .modal-content .filter-wrapper .filter-buttons button:hover i {
            opacity: 1; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .paint-wrapper input {
        font-family: Bebas Neue;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background: none;
        outline: none;
        text-align: right; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .paint-wrapper select {
        font-family: Bebas Neue;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background: none;
        outline: none;
        position: relative; }
      .personalization-wrapper .modals-wrapper .modal .modal-content .range-wrapper {
        position: relative; }
        .personalization-wrapper .modals-wrapper .modal .modal-content .range-wrapper:after {
          content: attr(data-status);
          font-family: Bebas Neue;
          font-weight: bold;
          position: absolute;
          top: 0;
          right: -25%; }
    .personalization-wrapper .modals-wrapper .modal button {
      border: none;
      outline: none;
      font-family: Bebas Neue;
      font-weight: bold;
      border-radius: 50%;
      background: white;
      cursor: pointer; }
      .personalization-wrapper .modals-wrapper .modal button i {
        vertical-align: middle; }
.personalization-wrapper .moment-progress-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 5px;
  width: 70%;
  position: fixed;
  bottom: 2%;
  left: 15%;
  overflow: hidden; }
  .personalization-wrapper .moment-progress-wrapper .progress {
    background-color: white;
    height: 100%;
    width: 0%;
    border-radius: 10px; }

.catch i {
  position: relative;
  top: 0.05em;
  font-size: 0.8em;
  transition: opacity 0.5s; }
  .catch i:hover i {
    opacity: 0.4; }

#catch-canvas {
  display: none; }

@media(max-width: 900px) {
  .modal {
    width: 90vw !important;
    left: 5vw !important; }

  .options-wrapper {
    width: 90% !important; } }
.user-container {
  position: relative;
  margin: 2em 5% !important; }
  .user-container form .user-back, .user-container form .avatar {
    cursor: pointer; }
  .user-container .user-back, .user-container .city-back {
    height: 15em;
    width: 100%;
    position: relative;
    background-color: #FFCA1C;
    background-size: cover;
    background-position: center center; }
    .user-container .user-back h1, .user-container .city-back h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      text-align: center;
      color: white;
      font-size: 5em;
      margin: 0;
      text-shadow: 0.05em 0.05em black; }
  .user-container .city-back {
    height: 20em;
    background-blend-mode: multiply;
    margin-bottom: 2em;
    transition: background-color 1.5s;
    background-color: transparent; }
  .user-container input {
    display: block;
    width: 100%;
    min-height: 40px;
    background: white;
    font-family: Bebas Neue;
    font-weight: bolder;
    font-size: 2.5em;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0.05em;
    box-sizing: border-box;
    transition: box-shadow 0.4s; }
    .user-container input::-webkit-input-placeholder {
      font-family: Bebas Neue;
      font-weight: bolder;
      font-size: 1em;
      transition: color 0.2s;
      color: black; }
    .user-container input::-webkit-input-placeholder {
      font-family: Bebas Neue;
      font-weight: bolder;
      font-size: 1em;
      transition: color 0.2s;
      color: black; }
    .user-container input::-moz-placeholder {
      font-family: Bebas Neue;
      font-weight: bolder;
      font-size: 1em;
      transition: color 0.2s;
      color: black; }
    .user-container input::-ms-input-placeholder {
      font-family: Bebas Neue;
      font-weight: bolder;
      font-size: 1em;
      transition: color 0.2s;
      color: black; }
    .user-container input::-moz-placeholder {
      font-family: Bebas Neue;
      font-weight: bolder;
      font-size: 1em;
      transition: color 0.2s;
      color: black; }
    .user-container input:focus {
      box-shadow: 0 0 5px black; }
      .user-container input:focus::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.4); }
      .user-container input:focus::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.4); }
      .user-container input:focus::-moz-placeholder {
        color: rgba(0, 0, 0, 0.4); }
      .user-container input:focus::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.4); }
      .user-container input:focus::-moz-placeholder {
        color: rgba(0, 0, 0, 0.4); }
  .user-container .used:focus {
    box-shadow: 0 0 5px #b30000; }
  .user-container input[type=file] {
    display: none; }
  .user-container .user-strip {
    padding: 1.5em;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .user-container .user-strip .user-info {
      display: flex;
      align-items: center; }
      .user-container .user-strip .user-info h2 {
        font-size: 2.2em;
        margin: 0 0.2em; }
    .user-container .user-strip .user-button {
      border: none;
      color: white;
      border-radius: 4px;
      padding: 8px 15px;
      font-family: Bebas Neue;
      font-weight: bold;
      font-size: 1.6em;
      margin: 0;
      outline: none;
      cursor: pointer; }
      .user-container .user-strip .user-button i {
        vertical-align: middle; }
    .user-container .user-strip .file-del {
      background: #FF815C; }
    .user-container .user-strip .add-friend {
      background: #4EBD9B; }
    .user-container .user-strip .delete-friend {
      background: #e14747; }
    .user-container .user-strip .cancel-friend {
      background: #FFCA1C; }
  .user-container aside {
    background-color: rgba(0, 0, 0, 0.03);
    float: left;
    width: 30%;
    padding: 15px;
    box-sizing: border-box; }
    .user-container aside input {
      margin: 0.3em 0; }
    .user-container aside #google-map {
      width: 100%;
      height: 40vh;
      margin: 0; }
    .user-container aside ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .user-container aside ul li {
        font-size: 1.8em;
        font-weight: normal;
        margin: 5px 0;
        word-spacing: 2px; }
        .user-container aside ul li i {
          opacity: 0.7; }
    .user-container aside a {
      text-decoration: none;
      color: black; }
    .user-container aside button {
      font-weight: normal !important;
      background: none;
      width: 95%;
      margin: 0.4em auto !important;
      display: block;
      border: 1px solid black !important; }
    .user-container aside .moments {
      color: #e8b200;
      border-color: #e8b200 !important; }
  .user-container .list-component {
    float: right;
    width: 65%;
    margin-left: 5%; }
    .user-container .list-component header {
      cursor: default !important; }
      .user-container .list-component header h2 {
        color: black; }
      .user-container .list-component header:hover {
        background-color: inherit !important; }
    .user-container .list-component .friend {
      width: 50% !important; }
    .user-container .list-component .pass-form h3 {
      font-size: 1.4em;
      font-weight: bold;
      text-align: center; }
    .user-container .list-component .pass-form input {
      background-color: #dedede;
      margin: 0.5em auto;
      width: 95%;
      font-weight: lighter; }
    .user-container .list-component .pass-form button {
      display: block;
      margin: 0 auto; }

@media (max-width: 700px) {
  .user-container aside {
    width: 100%; }
  .user-container .list-component {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5em; }
    .user-container .list-component .friend {
      width: 100% !important; } }
@media (max-width: 500px) {
  .user-container .user-strip {
    flex-direction: column; }
    .user-container .user-strip .user-info {
      justify-content: center; }
    .user-container .user-strip button {
      margin-top: 0.4em !important; } }
body {
  font-family: Bebas Neue; }

/*# sourceMappingURL=style.css.map */
