@mixin placeholder()
  &::-webkit-input-placeholder
    @content

  &::-webkit-input-placeholder
    @content

  &::-moz-placeholder
    @content

  &::-ms-input-placeholder
    @content

  &::-moz-placeholder
    @content

@mixin noselect()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

@mixin button-box($color)
  background-color: $color
  box-shadow: 0 4px $color
  transition: box-shadow .3s

  &:hover
    box-shadow: 0 4px darken($color, 13%)

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

@mixin animation($name, $duration, $delay:0s, $iter:initial)
  -webkit-animation-name: $name
  -webkit-animation-duration: $duration
  -webkit-animation-fill-mode: forwards
  -webkit-animation-delay: $delay
  -webkit-animation-iteration-count: $iter

  -moz-animation-name: $name
  -moz-animation-duration: $duration
  -moz-animation-fill-mode: forwards
  -moz-animation-delay: $delay
  -animation-iteration-count: $iter

  o-animation-name: $name
  o-animation-duration: $name
  o-animation-fill-mode: forwards
  o-animation-delay: $delay
  o-animation-iteration-count: $iter

  -ms-animation-name: $name
  -ms-animation-duration: $duration
  -ms-animation-fill-mode: forwards
  -ms-animation-delay: $delay
  -ms-animation-iteration-count: $iter

  animation-name: $name
  animation-duration: $duration
  animation-fill-mode: forwards
  animation-delay: $delay
  animation-iteration-count: $iter

@mixin label-icon($name, $code)
  label[for=#{$name}]
    span
      &:before
        content: $code
