<template>
<section class="list-component">
  <header>
    <h2><i class="material-icons">security</i> Hasło</h2>
  </header>
  <form class="list-content login-form pass-form" @submit="reset_password">
    <h3> Jeżeli nie masz hasła, podaj swój login w polu <i>STARE HASŁO</i></h3>
    <input type="password" name="old_password" placeholder="Stare hasło" required>
    <input type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$" title="Hasło musi zawierać małe i wielkie litery oraz cyfry." placeholder="Nowe hasło" minlength="6" maxlength="32" required>
    <input type="password" name="password_repeat" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$" title="Hasło musi zawierać małe i wielkie litery oraz cyfry." placeholder="Powtórz nowe hasło" minlength="6" maxlength="32" required>
    <button type="submit">Zmień hasło</button>
  </form>
</section>
</template>

<script>
export default {
  name: "reset_password",
  methods: {
    reset_password(event) {
      event.preventDefault();

      let form = new FormData(event.target);

      if (form.get("password") !== form.get("password_repeat")) {
        alert("Hasła nie są takie same.")
      }
      else {
        form.delete("password_repeat");
        this.$store.dispatch("update_user", form);
      }
    }
  }
}
</script>
