<template>
  <aside>
    <input type="email" name="email" placeholder="Adres e-mail"
                        v-model="edit_data.email"
                        @input="check_availability"
                        :class="email_availability"
                        required>
    <input type="text" name="first_name" placeholder="Imię"
                        v-model="edit_data.first_name"
                        pattern="^[a-zA-Ząęśćżźłó]+$"
                        title="Imię może zawierać tylko litery."
                        minlength="2"
                        maxlength="32"
                        required>
    <input type="text" name="last_name" placeholder="Nazwisko"
                        v-model="edit_data.last_name"
                        pattern="^[a-zA-Ząęśćżźłó][a-zA-Ząęśćżźłó ]+$"
                        title="Nazwisko może zawierać litery oraz pauzy."
                        minlength="2"
                        maxlength="32"
                        required>
    <input type="text" ref="localization" name="localization" :value="city_info" required>
    <input type="text" name="color" placeholder="Kolor"
                      :style="color_style"
                      pattern="^[#][0-9a-zA-Z]{3,6}$"
                      v-model="edit_data.color"
                      title="Pole musi mieć format heksadecymalny np. #abc123"
                      required>
    <button type="submit">Zapisz ustawienia</button>
  </aside>
</template>

<script>
import { init_auto } from "../../../maps/maps";
import { check_availability } from "./SettingsMethods";

export default {
  name: "settings_aside",
  props: ["edit_data", "availability"],
  computed: {
    user() {
      return this.$store.getters.user;
    },
    color_style() {
      return {color: this.edit_data.color};
    },
    email_availability() {
      return !this.availability.email ? "used" : "";
    },
    city_info() {
      if (!!this.edit_data.city) {
        if (!!this.edit_data.city.formatted_address) {
          return this.edit_data.city.formatted_address;
        }
        else if (!!this.edit_data.city.name){
          return `${this.edit_data.city.name}, ${this.edit_data.city.country}`;
        }
      }

      return null;
    }
  },
  methods: {
    set_city(city) {
      this.edit_data.city = city;
    }, check_availability
  },
  mounted() {
    init_auto(this.$refs.localization, this.set_city.bind(this));
  }
}
</script>
