<template>
  <div class="user-strip login-form">
    <div class="user-info">
      <div class="avatar" :style="avatar_style" @click="click" @dragover="drag($event)" @dragleave="leave" @drop="drop($event)"></div>
      <input type="text" name="username" placeholder="Nazwa użytkownika"
                        :class="username_availability"
                         style="width: 45%; margin-left: .4em;"
                         v-model="edit_data.username"
                        @input="check_availability"
                         pattern="^[a-zA-Z0-9_.]+$"
                         title="Nazwa może składać się z liter, cyfr, kropek i podkreśleń"
                         minlength="4"
                         maxlength="64"
                         required>
      <input type="file" name="avatar" ref="file" @change="file_change" accept="image/png, image/jpg, image/jpeg, image/gif">
    </div>
    <div>
      <button type="button" class="user-button file-del" v-if="background_button" @click="delete_file('background')">
        <i class="material-icons">photo_size_select_actual</i> Usuń tło
      </button>
      <button type="button" class="user-button file-del" v-if="avatar_button" @click="delete_file('avatar')">
        <i class="material-icons">account_circle</i> Usuń awatar
      </button>
    </div>
  </div>

</template>

<script>
import PersonMethods from "../personalization/PersonMethods";
import { update_el, check_availability } from "./SettingsMethods";

export default {
  name: 'settings_strip',
  props: ["img_preview", "edit_data", "availability"],
  data () {
    return {
      el_name: "awatar",
      info: "Wybierz awatar",
      extensions: ["jpg", "jpeg", "png", "gif"],
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    username_availability() {
      return !this.availability.username ? "used" : "";
    },
    background_button() {
      return !!this.edit_data.background;
    },
    avatar_button() {
      return !!this.edit_data.avatar;
    },
    avatar_style() {
      let avatar_info = this.img_preview.avatar || this.edit_data.avatar;
      return !!avatar_info ? {backgroundImage: `url(${avatar_info})`} : {};
    },
  },
  methods: {
    delete_file(file) {
      if (!!this.edit_data[file]) {
        this.edit_data[file] = this.edit_data[file] instanceof File ? this.user[file] : "";
        this.img_preview[file] = null;
      }
    },
    drag: PersonMethods.drag,
    leave: PersonMethods.leave,
    drop: PersonMethods.drop,
    click: PersonMethods.click,
    file_change: PersonMethods.file_change,
    check_extension: PersonMethods.check_extension,
    update_el, check_availability
  }
}
</script>
