<template>
  <div class="user-back" :style="back_style" @click="click" @dragover="drag" @dragleave="leave" @drop="drop">
    <h1>{{ info }}</h1>
    <input type="file" name="background" ref="file" @change="file_change" accept="image/png, image/jpg, image/jpeg, image/gif">
  </div>
</template>

<script>
import PersonMethods from "../personalization/PersonMethods";
import { update_el } from "./SettingsMethods";

export default {
  name: "settings_background",
  props: ["img_preview", "edit_data"],
  data () {
    return {
      el_name: "tło",
      info: "Wybierz tło",
      extensions: ["jpg", "jpeg", "png", "gif"],
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    back_style() {
      let back_info = this.img_preview.background || this.edit_data.background;
      return !!back_info ? {backgroundImage: `url(${back_info})`} : {};
    },
  },
  methods: {
    drag: PersonMethods.drag,
    leave: PersonMethods.leave,
    drop: PersonMethods.drop,
    click: PersonMethods.click,
    file_change: PersonMethods.file_change,
    check_extension: PersonMethods.check_extension,
    update_el
  }
}
</script>
