<template>
  <div>
    <Navigation></Navigation>

    <main class="container user-container form-wrappers" :id="user.id">
      <form @submit="send_form">
        <SettingsBackground :img_preview="img_preview" :edit_data="edit_data">
        </SettingsBackground>
        <SettingsStrip :img_preview="img_preview"
                        :edit_data="edit_data"
                        :availability="availability">
        </SettingsStrip>
        <SettingsAside :edit_data="edit_data" :availability="availability">
        </SettingsAside>
        <ResetPassword></ResetPassword>
      </form>
    </main>
  </div>
</template>

<script>
import Navigation from "../Navigation.vue";
import SettingsStrip from "./SettingsStrip.vue";
import SettingsAside from "./SettingsAside.vue";
import SettingsBackground from "./SettingsBackground.vue";
import ResetPassword from "./ResetPassword.vue";

export default {
  name: 'settings',
  data () {
    return {
      edit_data: {
        color: null,
        city: null,
        first_name: null,
        last_name: null,
        email: null,
        username: null,
        avatar: null,
        background: null
      },
      initialized: false,
      img_preview: {background: null, avatar: null},
      availability: {username: true, email: true}
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    set_edit_data() {
      if (!this.initialized && this.user.id !== 0) {
        Object.keys(this.edit_data).forEach(key => {
          this.edit_data[key] = this.user[key];
        })
        this.initialized = true;
      }
    },
    send_form(event) {
      event.preventDefault();
      let form = new FormData();

      for (let key in this.edit_data) {
        switch(key) {
          case "city":
            if (!this.user.city || this.edit_data.city.place_id !== this.user.city.place_id) {
              form.set(key, this.edit_data[key].place_id);
            }
            break;

          case "avatar", "background":
            if (this.edit_data[key] == "" || this.edit_data[key] instanceof File) {
              form.set(key, this.edit_data[key])
            }
            break;

          default:
            if (this.edit_data[key] !== this.user[key]) {
              form.set(key, this.edit_data[key])
            }
            break;
        }
      }

      if (Object.values(this.availability).findIndex(x => !x) !== -1) {
        alert("Nazwa użytkownika i/lub adres e-mail są już zajęte.")
      }
      else if (!form.get("city") && !this.user.city) {
        alert("Podana lokalizacja nie jest prawidłowa.")
      }
      else if (!form.values().next().done){
        this.$store.dispatch("update_user", form);
      }
    }
  },
  mounted() {
    this.set_edit_data()
  },
  beforeUpdate() {
    this.set_edit_data()
  },
  components: { Navigation, SettingsStrip, SettingsBackground, SettingsAside, ResetPassword }
}
</script>
