<template>
  <ul>
    <Invitation v-for="i in invitations" :invitation="i" :key="i.id"></Invitation>
  </ul>
</template>

<script>
import Invitation from "./elements/Invitation.vue";

export default {
  name: 'invitations',
  props: ["filter"],
  computed: {
    invitations() {
      /**
      * Gets invitations that sender's username is corresponding to filter.
      * @return { Object } - array with filtered invitations.
      */
      let filter = this.filter.toLowerCase();

      return this.$store.getters.invitations_received.filter(inv => {
        return (inv.sender.username.toLowerCase().startsWith(this.filter) ||
          inv.sender.full_name.toLowerCase().startsWith(this.filter));
      });
    }
  },
  components: { Invitation }
}
</script>
