<template>
  <div class="friends-list">
    <Friend v-for="f in friends" :key="f.id" :user="f"></Friend>
  </div>
</template>

<script>
import Friend from "./elements/Friend.vue";

export default {
  name: "friends",
  props: ["user", "filter"],
  computed: {
    friends() {
      /**
      * Gets friends of current user which names are similar to filter.
      * @return { Object } - array with filtered users.
      */
      let filter = this.filter.toLowerCase();

      return this.user.friends.filter(f => {
        return (f.username.toLowerCase().startsWith(filter) ||
          f.full_name.toLowerCase().startsWith(filter));
      });
    }
  },
  components: { Friend }
}
</script>
