<template>
  <section :class="list_class">
    <header @click="toggle_list">
      <h2><i class="material-icons">{{ section.icon }}</i> {{ section.text }}</h2>
      <i class="material-icons">keyboard_arrow_down</i>
    </header>
    <div class="list-content" ref="content">
      <component :is="section.name" :filter="filter" :user="user" :data="data"></component>
    </div>
  </section>
</template>

<script>
import CockpitInvitations from "./CockpitInvitations.vue";
import CockpitFriends from "./CockpitFriends.vue";
import CockpitUsers from "./CockpitUsers.vue";
import CockpitCities from "./CockpitCities.vue";

export default {
  name: 'cockpit_section',
  props: ["section", "filter", "data"],
  data () {
    return { visible: true };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    list_class() {
      /**
      * Applies proper class names depedently on current list status.
      */
      return this.visible ? "list-component" : "list-component list-hidden";
    }
  },
  methods: {
    toggle_list() {
      /**
      * Responsible for showing or hidding list content.
      */
      if (this.visible) {
        this.visible = false;
        this.$refs.content.style.maxHeight = "0px";
      }
      else {
        this.visible = true;
        let height = this.$refs.content.childNodes[0].offsetHeight + 200;
        this.$refs.content.style.maxHeight = height + "px";
      }
    }
  },
  components: {
    "invitations": CockpitInvitations,
    "friends": CockpitFriends,
    "users": CockpitUsers,
    "cities": CockpitCities
  }
}
</script>
