<template>
  <div class="cities">
    <CockpitCity v-for="city in cities" :key="city.id" :city="city"></CockpitCity>
  </div>
</template>

<script>
import CockpitCity from "./elements/CockpitCity.vue";

export default {
  name: "cockpit_cities",
  props: ["data", "filter"],
  computed: {
    cities() {
      /**
      * Filter cities that match filter to prevent rendering cities that already
      * are in collection, beacuse of asynchronous requests but doesn't match
      * the filter.
      * @return { Object } - array with filtered city objects.
      */
      let filter = this.filter.toLowerCase();
      return this.data.filter(city => city.name.toLowerCase().startsWith(filter));
    }
  },
  components: { CockpitCity }
}
</script>
