<template>
  <div>
    <Navigation :search="true" :trigger="trigger" @filter_changed="change_filter">
    </Navigation>

    <main class="container" ref="container">
      <button class="container-button" @click="show_search">
        <i class="material-icons">search</i> Szukaj
      </button>
      <CockpitSection :section="section_info('invitations')" :filter="filter"></CockpitSection>
      <CockpitSection :section="section_info('friends')" :filter="filter"></CockpitSection>
      <CockpitSection :section="section_info('users')" :data="users" :filter="filter" v-if="filter.length >= 2"></CockpitSection>
      <CockpitSection :section="section_info('cities')" :data="cities" :filter="filter" v-if="filter.length >= 2"></CockpitSection>
    </main>
  </div>
</template>

<script>
import Navigation from "../Navigation.vue";
import CockpitSection from "./CockpitSection.vue";
import { get_url } from "../moments/MomentMethods";

export default {
  name: 'cockpit',
  data () {
    return {
      trigger: false,
      filter: "",
      sections: [
        {
          name: "invitations",
          text: "Zaproszenia",
          icon: "notifications"
        },
        {
          name: "friends",
          text: "Znajomi",
          icon: "people"
        },
        {
          name: "users",
          text: "Użytkownicy",
          icon: "account_box"
        },
        {
          name: "cities",
          text: "Miejsca",
          icon: "map"
        }
      ],
      users: [],
      cities: []
    }
  },
  methods: {
    section_info(name) {
      return this.sections.find(s => s.name === name);
    },
    show_search() {
      this.trigger = !this.trigger;
    },
    change_filter(new_filter) {
      this.filter = new_filter;
      if (this.filter.length >= 2) this.cockpit_search();
    },
    cockpit_search() {
      /**
      * Makes search request to get users and cities with name that correspond
      * to filter.
      */
      let request = new Request(
        get_url("/api/cockpit_search", {query: this.filter}),
        {
          method: "GET",
          credentials: "same-origin"
        }
      );

      fetch(request)
        .then(response => response.json())
        .then(data => {
          this.users = data.users;
          this.cities = data.cities;
        });
    },
  },
  components: { Navigation, CockpitSection }
}
</script>
