<template>
  <div class="friends-list">
    <Friend v-for="user in data" :key="user.id" :user="user"></Friend>
  </div>
</template>

<script>
import Friend from "./elements/Friend.vue";

export default {
  name: "users",
  props: ["data"],
  components: { Friend }
}
</script>
