<template>
<ul ref="menu" class="custom-menu no-select">
  <MenuOption v-for="(option, index) in options"
                      :key="index"
                      :option="option"
                      :index="index"
                      @click.native="handle_click(option.icon)">
  </MenuOption>
</ul>
</template>

<script>
import MenuOption from "./MenuOption.vue";

export default {
  name: "customize_menu",
  data() {
    return {
      options: [
        {icon: 'brush', title: 'Opcje pędzla'},
        {icon: 'filter', title: 'Filtry'},
        {icon: 'timer', title: "Długość momentu"},
        {icon: 'blur_circular', title: 'Opcje gumki'},
        {icon: 'clear_all', title: 'Wyczyść moment'},
        {icon: 'send', title: 'Przejdź dalej'}
      ]
    };
  },
  methods: {
    handle_click(icon) {
      this.$emit(icon);
    }
  },
  components: {MenuOption}
};
</script>
