<template>
  <li ref="option" :title="option.title" v-if="proper">
    <i class="material-icons">{{ option.icon }}</i>
  </li>
</template>

<script>
export default {
  name: "menu_option",
  props: ["option", "index"],
  data() {
    return {
      proper: false,
    }
  },
  watch: {
    proper(value) {
      setTimeout(() => this.$refs.option.classList.add("visible"), this.index*200);
    }
  },
  methods: {
    verify_filter_support() {
      let canvas = document.createElement('canvas');
      let context = canvas.getContext('2d');

      if (!!context.filter) {
        let image = new Image();

        image.onload = () => {
          context.filter = "blur(5px)";
          context.drawImage(image, 0, 0);
          try {
            canvas.toDataURL();
            this.proper = true
          }
          catch(err) {}
        }

        image.src = canvas.toDataURL();
      }
    }
  },
  mounted() {
    if (this.option.icon !== "filter") {
      this.proper = true;
    }
    else {
      this.verify_filter_support();
    }
  }
}
</script>
