<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - YourMoments</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
  {% block style %}
  {% endblock %}
</head>
<body class="{{ body_class }}">
  {% block content %}
  {% endblock %}
</body>
</html>
